<div id="AjaxCartSubtotal">

	{%- if type == 'page' -%}

		{%- if settings.cart_free_shipping -%}
			<div class="cart__subtotal-widget">
				<shipping-notice
					data-free-shipping="{{ settings.cart_free_shipping_amount | times: 100 }}"
					data-cart-total="{{ cart.total_price }}"
				>
					<span data-js-free-shipping-text></span>
					<span class="cart-notice__slider">
						<span class="cart-notice__slider-bar" data-js-free-shipping-slider></span>
					</span>
				</shipping-notice>
				<script src="{{ 'component-shipping-notice.js' | asset_url }}" defer></script>
			</div>
		{%- endif -%}

	{%- endif -%}

	<div class="cart__details 
		{% if type == 'page' %} cart__subtotal-widget {% endif %}
		{% if cart.item_count == 0 %} cart--empty {% endif %}
	">

		<div>
			    
			{%- if cart.cart_level_discount_applications != blank -%} 
				<div class="cart__subtotal cart__details--row">
					<span>{{ 'cart.subtotal' | t }}</span>
					<span>{{ cart.items_subtotal_price | money }}</span>
				</div>
				<div class="cart__discounts cart__details--row">
					<span>{{ 'cart.discounts' | t }}</span>
					{%- for discount_application in cart.cart_level_discount_applications -%}
						<span>{{ discount_application.title }} (-{{ discount_application.total_allocated_amount | money }})</span>
					{%- endfor -%}
				</div>
			{%- endif -%}

			<div class="cart__total cart__details--row">
				<span>{{ 'cart.total' | t }}</span> 
				<strong class="text-size--24">{{ cart.total_price | money }}</strong>
			</div>

			<span class="cart__shipping text-size--14 text-align--right">
				{%- liquid
					if cart.taxes_included and shop.shipping_policy.body != blank
						echo 'cart.policies.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url
					elsif cart.taxes_included
						echo 'cart.policies.taxes_included_but_shipping_at_checkout' | t
					elsif shop.shipping_policy.body != blank
						echo 'cart.policies.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url
					else
						echo 'cart.policies.taxes_and_shipping_at_checkout' | t
					endif
				-%}
			</span>

			{%- if settings.cart_notes_enable and type == 'page' -%}
				<div class="cart__instructions">
					<div class="form-field">
						<label for="cartSpecialInstructions">{{ 'cart.note' | t }}</label>
						<textarea name="note" id="cartSpecialInstructions" form="cart">{{ cart.note }}</textarea>
					</div>
				</div>
			{%- endif -%}

		</div>

		<div {% unless template.name == 'cart' %} class="cart__buttons flex-buttons" {% endunless %}>

			{%- unless type == 'page' -%}
				<a id="ViewCart" href="{{ routes.cart_url }}" class="button button--regular button--fullwidth button--outline--hover-accent">
					<span class="button__text">{{ 'cart.view_cart' | t }}</span>
				</a>
			{%- endunless -%}
			
			<button id="CheckOut" class="button button--regular button--solid--hover-accent button--fullwidth" type="submit" name="checkout" form="cart">
				<span class="button__text">{{ 'cart.checkout' | t }}</span>
			</button>

			{%- unless template.name == 'order' -%}  
				{%- if additional_checkout_buttons and settings.cart_additional_buttons -%}
					<div class="additional-checkout-buttons additional-checkout-buttons--vertical" style="width:100%">
						{{ content_for_additional_checkout_buttons }}
					</div>
				{%- endif -%}
			{%- endunless -%}
			
		</div>

	</div>

</div>