<!doctype html>
  {%- liquid
    assign direction = 'ltr'
    assign rtl_iso_codes = 'ar,he,he-IL,ur,fa,pa,sd,ku' | split: ','
    if rtl_iso_codes contains request.locale.iso_code
      assign direction = 'rtl'
    endif
  -%}
  <html class="no-js html-password" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
<head>

	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">

	{%- if settings.favicon -%}
		<link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 48, height: 48 }}" type="image/png" />
	{%- endif -%}

	{%- capture seo_title -%}
    {%- if template == 'search' -%}
      {{ search.terms | replace: '*', '' | split: ' AND ' | last }} - {{ shop.name | escape }}
    {%- else -%}
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name | escape }}{% endunless %}
    {%- endif -%}
  {%- endcapture -%}

	<title>{{ seo_title }}</title>

	{%- if page_description -%}
		<meta name="description" content="{{ page_description | escape }}">
	{%- endif -%}

  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com">
  {%- unless settings.headings_font.system? and settings.body_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}
    
  {%- render 'head-variables' -%}
  {%- render 'head-preloader' -%}

  {{ 'theme.css' | asset_url | stylesheet_tag }}

	{{ content_for_header }}

  <script>
  
    /* js helpers */
    const debounce = (fn, wait) => {
      let t;
      return (...args) => {
        clearTimeout(t);
        t = setTimeout(() => fn.apply(this, args), wait);
      };
    }
    window.KEYCODES = {
      TAB: 9,
      ESC: 27,
      DOWN: 40,
      RIGHT: 39,
      UP: 38,
      LEFT: 37,
      RETURN: 13
    };
   
  </script>

  <noscript>
    <link rel="stylesheet" href="{{ 'theme-noscript.css' | asset_url }}">
  </noscript>

</head>

<body id="{{ page_title | handle }}" class="
  template-password
  {% if settings.parallax_effects or settings.zoom_effects %} 
    grid-animation--scroll 
    {% if settings.parallax_effects == false %} grid-animation--scroll-disable-parallax {% endif %}
    {% if settings.zoom_effects == false %} grid-animation--scroll-disable-zoom {% endif %}
  {% endif %}
  product-grid-animation--{{ settings.product_card_hover }}
  {% unless settings.product_card_hover contains 'repetition' %} {% if settings.product_card_show_secondary_image %} product-grid-animation--image {% endif %} {% endunless %}
  general-image-animation--{{ settings.image_links_hover }}
  product-grid-badges--{{ settings.location_badges }}
  {% if settings.product_card_remove_padding %} product-grid--no-border-radius {% endif %}
  text-underline-animation--{{ settings.text_underline }}-color card-hover-animation--{{ settings.card_hover }}
  {% if settings.link_arrows %} link-animation--arrows {% endif %}
  {% if settings.enable_slider_hint %} slider-hint--enabled {% endif %}
  {% if settings.border_padding_horizontal %} grid-borders--padding-horizontal {% endif %}
  {% if settings.border_padding_vertical %} grid-borders--padding-vertical {% endif %}x
  {% if settings.border_padding_sections_horizontal_select != 'never' %} 
    section-borders--padding-horizontal 
    {% if settings.border_padding_sections_horizontal_select == 'always' %} section-borders--padding-horizontal-in-header {% endif %}
  {% endif %}
  {% if settings.page_padding_remove_on_mobile %} container-borders--remove-on-mobile {% endif %}
  {% if settings.border_width_sections == 0 %} section-borders--none {% endif %}
  {% if settings.page_boxed_layout %} container--boxed {% endif %}
  {% if settings.borders_drawers_disabled %} drawer-borders--disabled {% endif %}
  no-touchevents">

  {%- if settings.parallax_effects or settings.zoom_effects -%}
    <script src="{{ 'component-parallax.js' | asset_url }}"></script>
  {%- endif -%}

  <script type="text/javascript">
    if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) { document.querySelector('body').classList.remove('no-touchevents'); document.querySelector('body').classList.add('touchevents'); } 
  </script>
  
  <div class="main-container">

    <span class="header-overlay"></span>

    <a href="#main" class="visually-hidden skip-to-content" tabindex="0" data-js-inert>{{ 'general.accessibility_labels.skip_to_content' | t }}</a>
    <div id="screen-reader-info" aria-live="polite" class="visually-hidden"></div>
  
	  {%- section 'main-password-header' -%}
  
    {{ 'component-slider.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'section-header.js' | asset_url }}" defer></script>
    
    <main id="main" class="main-content" data-js-inert>
      {{ content_for_layout }}
    </main>

    <script>
      if ( document.getElementById('main').lastElementChild.querySelector('[data-hide-section-bottom-border]') ) {
        document.getElementById('main').classList.add('main-content--hidden-section-bottom-border');
      }
    </script>
  
    <footer class="main-footer" id="main-footer" data-js-inert>
      {%- section 'footer-bottom' -%}
    </footer>

    <div class="site-overlay" style="display:none"></div>

  </div>

  <script src="{{ 'component-modal.js' | asset_url }}" defer></script>
  <link rel="stylesheet" href="{{ 'component-modal.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-popup.css' | asset_url }}" media="print" onload="this.media='all'">

  <script type="text/javascript">
  
    KROWN = {  
      themeName: "Borders",
      themeVersion: "1.2.1",
      settings: {
        shop_money_format: '{{ shop.money_format }}',
        locales: {
          show_more: `{{ 'general.accessibility_labels.show_more' | t }}`,
          show_less: `{{ 'general.accessibility_labels.show_less' | t }}`
        },
        symbols: {
          zoom_out: `{%- render 'theme-symbols', icon: 'zoom-out' -%}`,
          zoom_in: `{%- render 'theme-symbols', icon: 'zoom-in' -%}`,
          zoom_loader: `<svg class="zoom__loader-element" viewBox="25 25 50 50"><circle cx="50" cy="50" r="20" fill="none" stroke-width="4"/></svg>`,
          close: `{%- render 'theme-symbols', icon: 'close' -%}`,
          toggle_pack: `<span class="toggle__icon"><span class="toggle__icon--plus">{%- render 'theme-symbols', icon: 'plus' -%}</span><span class="toggle__icon--minus">{%- render 'theme-symbols', icon: 'minus' -%}</span></span>`,
          toggle_pack_alternate: `<span class="toggle__icon-alternate"><span class="toggle__icon toggle__icon--plus">{%- render 'theme-symbols', icon: 'plus-thin' -%}</span><span class="toggle__icon toggle__icon--minus">{%- render 'theme-symbols', icon: 'minus-thin' -%}</span></span>`
        },
        grid_padding: {{ settings.grid_padding }}
      }
    }
    
  </script>

  <script src="{{ 'component-slider.js' | asset_url }}" defer></script>
  <script src="{{ 'component-slider-navigation.js' | asset_url }}" defer></script>
  <script src="{{ 'component-sticky-image.js' | asset_url }}" defer></script>

  {%- if request.design_mode -%}
    <script src="{{ 'section-main-product.js' | asset_url }}" defer></script>
    <script src="{{ 'component-toggle.js' | asset_url }}" defer></script>
    <script src="{{ 'component-video.js' | asset_url }}" defer></script>
    <script src="{{ 'component-video-background.js' | asset_url }}" defer></script>
    <script src="{{ 'component-localization-form.js' | asset_url }}" defer></script>
    <script src="{{ 'component-predictive-search.js' | asset_url }}" defer></script>
    <script src="{{ 'component-shipping-calculator.js' | asset_url }}" defer></script>
    <script src="{{ 'component-show-more.js' | asset_url }}" defer></script>
    <script src="{{ 'component-scrolling-text.js' | asset_url }}" defer></script>
    <script src="{{ 'section-rotating-images.js' | asset_url }}" defer></script>
    <script src="{{ 'theme-editor.js' | asset_url }}" defer></script>
  {%- endif -%}

  <script>
    document.querySelectorAll('.rte a img').forEach(elm=>{
      elm.parentNode.classList.add('no-border');
    });
  </script>

</body>

</html>