<!doctype html>
  {%- liquid
    assign direction = 'ltr'
    assign rtl_iso_codes = 'ar,he,he-IL,ur,fa,pa,sd,ku' | split: ','
    if rtl_iso_codes contains request.locale.iso_code
      assign direction = 'rtl'
    endif
  -%}
  <html id="html" class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">
  
    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 48, height: 48 }}" type="image/png" />
    {%- endif -%}
  
    {%- capture seo_title -%}
      {%- if template.name == 'search' -%}
        {{ search.terms | replace: '*', '' | split: ' AND ' | last }} - {{ shop.name | escape }}
      {%- else -%}
        {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name | escape }}{% endunless %}
      {%- endif -%}
    {%- endcapture -%}
  
    <title>{{ seo_title }}</title>
  
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
  
    {%- liquid
      render 'open-graph'
      unless settings.disable_microdata 
        render 'microdata-schema'
      endunless
    -%}
  
    <link rel="canonical" href="{{ canonical_url }}">
  
    <link rel="preconnect" href="https://cdn.shopify.com">
    {%- unless settings.headings_font.system? and settings.body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
      
    {%- render 'head-variables' -%}
    {%- render 'head-preloader' -%}
  
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  
    {{ content_for_header }}
  
    <script>
  
      /* js helpers */
      const debounce = (fn, wait) => {
        let t;
        return (...args) => {
          clearTimeout(t);
          t = setTimeout(() => fn.apply(this, args), wait);
        };
      }
      window.KEYCODES = {
        TAB: 9,
        ESC: 27,
        DOWN: 40,
        RIGHT: 39,
        UP: 38,
        LEFT: 37,
        RETURN: 13
      };
  
    </script>
    
    {%- if template == 'customers/addresses' or request.design_mode -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}
  
    <noscript>
      <link rel="stylesheet" href="{{ 'theme-noscript.css' | asset_url }}">
    </noscript>
  
  </head>
  
  <body id="{{ page_title | handle }}" class="
    {% if customer %} customer-logged-in {% endif %} 
    template-{{ template.name }} template-{{ template | replace: '.', ' ' | handle }} 
    {% if settings.parallax_effects or settings.zoom_effects %} 
      grid-animation--scroll 
      {% if settings.parallax_effects == false %} grid-animation--scroll-disable-parallax {% endif %}
      {% if settings.zoom_effects == false %} grid-animation--scroll-disable-zoom {% endif %}
    {% endif %}
    product-grid-animation--{{ settings.product_card_hover }}
    {% unless settings.product_card_hover contains 'repetition' %} {% if settings.product_card_show_secondary_image %} product-grid-animation--image {% endif %} {% endunless %}
    general-image-animation--{{ settings.image_links_hover }}
    product-grid-badges--{{ settings.location_badges }}
    {% if settings.product_card_remove_padding %} product-grid--no-border-radius {% endif %}
    text-underline-animation--{{ settings.text_underline }}-color card-hover-animation--{{ settings.card_hover }}
    {% if settings.enable_slider_hint %} slider-hint--enabled {% endif %}
    {% if settings.link_arrows %} link-animation--arrows {% endif %}
    {% if settings.border_padding_horizontal %} grid-borders--padding-horizontal {% endif %}
    {% if settings.border_padding_vertical %} grid-borders--padding-vertical {% endif %}x
    {% if settings.border_padding_sections_horizontal_select != 'never' %} 
      section-borders--padding-horizontal 
      {% if settings.border_padding_sections_horizontal_select == 'always' %} section-borders--padding-horizontal-in-header {% endif %}
    {% endif %}
    {% if settings.page_padding_remove_on_mobile %} container-borders--remove-on-mobile {% endif %}
    {% if settings.border_width_sections == 0 %} section-borders--none {% endif %}
    {% if settings.page_boxed_layout %} container--boxed {% endif %}
    {% if settings.borders_drawers_disabled %} drawer-borders--disabled {% endif %}
    {% if template.name == 'collection' and collection.handle == 'all' %} collection-page--no-navigation {% endif %}
  no-touchevents">

  {%- if settings.parallax_effects or settings.zoom_effects -%}
    <script src="{{ 'component-parallax.js' | asset_url }}"></script>
  {%- endif -%}
  
    <script type="text/javascript">
      if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) { document.querySelector('body').classList.remove('no-touchevents'); document.querySelector('body').classList.add('touchevents'); } 
    </script>

    <div class="main-container">

      <span class="header-overlay"></span>

      <a href="#main" class="visually-hidden skip-to-content" tabindex="0" data-js-inert>{{ 'general.accessibility_labels.skip_to_content' | t }}</a>
      <div id="screen-reader-info" aria-live="polite" class="visually-hidden"></div>
    
      {%- sections 'header-group' -%}
    
      {{ 'component-slider.css' | asset_url | stylesheet_tag }}
      {{ 'component-product-item.css' | asset_url | stylesheet_tag }}
      {%- if settings.enable_quick_buy -%}
        {%- unless template.name == 'product' -%}
          {{ 'component-product-variants.css' | asset_url | stylesheet_tag }}
          <link rel="stylesheet" href="{{ 'section-main-product.css' | asset_url }}" media="print" onload="this.media='all';">
        {%- endunless -%}
      {%- endif -%}

      {%- sections 'drawers-group' -%}
      <script src="{{ 'section-header.js' | asset_url }}" defer></script>
      <script src="{{ 'component-product-form.js' | asset_url }}" defer></script>
      
      <main id="main" class="main-content" data-js-inert>
        {{ content_for_layout }}
      </main>

      <script>
        if ( document.getElementById('main').lastElementChild.querySelector('[data-hide-section-bottom-border]') ) {
          document.getElementById('main').classList.add('main-content--hidden-section-bottom-border');
        }
      </script>
    
      <footer class="main-footer" id="main-footer" data-js-inert>
        {%- sections 'footer-group' -%}
      </footer>
  
      <div class="site-overlay" style="display:none"></div>
      
      {{ 'sections-overlay-group.css' | asset_url | stylesheet_tag }}
      {%- sections 'overlay-group' -%}

    </div>
    
    <script src="{{ 'component-modal.js' | asset_url }}" defer></script>
    <link rel="stylesheet" href="{{ 'component-modal.css' | asset_url }}" media="print" onload="this.media='all'">
  
    <script type="text/javascript">
  
      KROWN = {  
        themeName: "Borders",
        themeVersion: "1.2.1",
        settings: {
          shop_money_format: '{{ shop.money_format }}',
          cart_action: "{{ settings.cart_action }}",
          cart_popup: "{{ settings.cart_mini_enabled }}",
          routes: {
            cart_url: "{{ routes.cart_url }}",
            cart_add_url: "{{ routes.cart_add_url }}",
            cart_change_url: "{{ routes.cart_change_url }}",
            search_url: "{{ routes.search_url }}",
            predictive_search_url: "{{ routes.predictive_search_url }}",
            product_recommendations_url: "{{ routes.product_recommendations_url }}"
          },
          locales: {
            products_add_to_cart_button: `{{ 'products.page.add_to_cart_button' | t }}`,
            products_add_to_bundle_button: `{{ 'products.bundles.add_product_to_bundle' | t }}`,
            products_preorder_button: `{{ 'products.page.preorder_button' | t }}`,
            products_sold_out_variant: `{{ 'products.page.inventory.sold_out_variant' | t }}`,
            products_unavailable_variant: `{{ 'products.page.inventory.unavailable_variant' | t }}`,
            products_variant_required: `{{ 'products.grid.choose_variant_first' | t }}`,
            sets_choose_products: `{{ 'products.bundles.choose_products_first' | t }}`,
            sets_add_to_cart: `{{ 'products.bundles.add_all_to_cart' | t }}`,
            products_one_product: `{{ 'products.page.inventory.one_product' | t }}`,
            products_few_products: `{{ 'products.page.inventory.few_products' | t }}`,
            products_many_products: `{{ 'products.page.inventory.many_products' | t }}`,
            products_no_products: `{{ 'products.page.inventory.no_products' | t }}`,
            products_preorder: `{{ 'products.page.inventory.preoder' | t }}`,
            products_enough_products: `{{ 'products.page.inventory.enough_products' | t }}`,
            product_sku: `{{ 'products.page.sku' | t }}`,
            product_barcode: `{{ 'products.page.barcode' | t }}`,
            cart_general_error: `{{ 'cart.general_error' | t }}`, 
            cart_announcement: `{{ 'general.accessibility_labels.item_added' | t }}`,
            shipping_calculator_results_heading_one: `{{ 'cart.shipping_calculator.results_heading_one' | t }}`,
            shipping_calculator_results_heading_multiple: `{{ 'cart.shipping_calculator.results_heading_multiple' | t }}`,
            shipping_notice_remaining_to_free: `{{ 'cart.free_shipping_remaining_html' | t }}`,
            shipping_notice_eligible_for_free: `{{ 'cart.free_shipping_eligible' | t }}`,
            show_more: `{{ 'general.accessibility_labels.show_more' | t }}`,
            show_less: `{{ 'general.accessibility_labels.show_less' | t }}`
          },
          symbols: {
            zoom_out: `{%- render 'theme-symbols', icon: 'zoom-out' -%}`,
            zoom_in: `{%- render 'theme-symbols', icon: 'zoom-in' -%}`,
            zoom_loader: `<svg class="zoom__loader-element" viewBox="25 25 50 50"><circle cx="50" cy="50" r="20" fill="none" stroke-width="4"/></svg>`,
            close: `{%- render 'theme-symbols', icon: 'close' -%}`,
            toggle_pack: `<span class="toggle__icon"><span class="toggle__icon--plus">{%- render 'theme-symbols', icon: 'plus' -%}</span><span class="toggle__icon--minus">{%- render 'theme-symbols', icon: 'minus' -%}</span></span>`,
            toggle_pack_alternate: `<span class="toggle__icon-alternate"><span class="toggle__icon toggle__icon--plus">{%- render 'theme-symbols', icon: 'plus-thin' -%}</span><span class="toggle__icon toggle__icon--minus">{%- render 'theme-symbols', icon: 'minus-thin' -%}</span></span>`
          },
          predictive_search_enabled: "true",
          predictive_search_script: "{{ 'component-predictive-search.js' | asset_url }}",
          predictive_search_placeholder: `<div class="search-results"><div class="search-block"><span class="search-item cart-item search-item--blank"><div class="cart-item__thumbnail"><span></span></div><div class="cart-item__content"><span class="title"></span><span class="subtitle"></span></div></span><span class="search-item cart-item search-item--blank"><div class="cart-item__thumbnail"><span></span></div><div class="cart-item__content"><span class="title"></span><span class="subtitle"></span></div></span><span class="search-item cart-item search-item--blank"><div class="cart-item__thumbnail"><span></span></div><div class="cart-item__content"><span class="title"></span><span class="subtitle"></span></div></span></div></div>`,
          cart_image_ratio: (1 / {{ settings.cart_image_ratio }}),
          grid_padding: {{ settings.grid_padding }}
        }
      }
      
    </script>
  
    <script src="{{ 'component-slider.js' | asset_url }}" defer></script>
    <script src="{{ 'component-slider-navigation.js' | asset_url }}" defer></script>
    <script src="{{ 'component-quick-buy.js' | asset_url }}" defer></script>
    <script src="{{ 'component-sticky-image.js' | asset_url }}" defer></script>

    {%- if settings.cart_notes_enable -%}
      <script src="{{ 'component-order-instructions.js' | asset_url }}" defer></script>
    {%- endif -%}

    {%- if settings.enable_recently_viewed_products -%}
      <script src="{{ 'component-recently-viewed.js' | asset_url }}" defer></script>
    {%- endif -%}
  
    {%- if request.design_mode -%}
      <script src="{{ 'section-main-product.js' | asset_url }}" defer></script>
      <script src="{{ 'component-toggle.js' | asset_url }}" defer></script>
      <script src="{{ 'component-video.js' | asset_url }}" defer></script>
      <script src="{{ 'component-video-background.js' | asset_url }}" defer></script>
      <script src="{{ 'component-localization-form.js' | asset_url }}" defer></script>
      <script src="{{ 'component-predictive-search.js' | asset_url }}" defer></script>
      <script src="{{ 'component-shipping-calculator.js' | asset_url }}" defer></script>
      <script src="{{ 'component-show-more.js' | asset_url }}" defer></script>
      <script src="{{ 'component-scrolling-text.js' | asset_url }}" defer></script>
      <script src="{{ 'section-image-hotspots.js' | asset_url }}" defer></script>
      <script src="{{ 'section-rotating-images.js' | asset_url }}" defer></script>
      <script src="{{ 'theme-editor.js' | asset_url }}" defer></script>
    {%- endif -%}
    
    <link rel="stylesheet" href="{{ 'component-cart.css' | asset_url }}" media="print" onload="this.media='all'">
  
    <script src="{{ 'component-quantity-selector.js' | asset_url }}" defer></script>
    {%- if settings.cart_action == "overlay" or template.name == "cart" -%}
      <script src="{{ 'component-cart.js' | asset_url }}" defer></script>
    {%- endif -%}
  
    <link rel="stylesheet" href="{{ 'component-sidebar.css' | asset_url }}" media="print" onload="this.media='all';">

    {%- if template.name == 'product' or template.name == 'cart' -%}
      <script>
        if ( window.prlxPush ) {
          document.querySelector('.product-recommendations')?.addEventListener('product-recommendations-loaded', ()=>{
            window.prlxPush(document.querySelectorAll('.product-recommendations [data-js-prlx-parent]'));
          });
        } 
        document.querySelector('.product-recommendations')?.addEventListener('product-recommendations-error', ()=>{
          document.querySelector('.product-recommendations').parentElement.remove();
        });
      </script>
    {%- endif -%}

    <script>
      document.querySelectorAll('.rte a img').forEach(elm=>{
        elm.parentNode.classList.add('no-border');
      });
      document.querySelectorAll('.rte table').forEach(elm => {
        elm.outerHTML = `<div class="table-wrapper" style="overflow-x:auto">${elm.outerHTML}</div>`;
     });
    </script>

    {%- if settings.enable_instapage -%}
      <script src="{{ 'instantpage.js' | asset_url }}" type="module" defer></script>
    {%- endif -%}
  
  </body>
  </html>