{{ 'component-toggle.css' | asset_url | stylesheet_tag }}

{%- render 'section-heading', heading: section.settings.heading, navigation: false, seo_h_tag: section.settings.seo_h_tag, hide_border: section.settings.disable_section_title_border -%}

{%- if section.blocks.size > 0 -%}
  <toggle-group class="element--overflow-hidden" style="display:block">

    {%- for block in section.blocks -%}
      <toggle-tab class="toggle toggle--faq {% if forloop.index == 1 and section.settings.open_first %}opened{% endif %} toggle--invert-color-{{ section.settings.invert_selected_toggle }}" 
        data-togglepack-alternate
        {{ block.shopify_attributes }}
      >
        <div class="card {% if section.settings.invert_selected_toggle %} card--hover {% endif %}">

          {%- if section.settings.invert_selected_toggle -%} <div class="card__hover"></div> {%- endif -%}

          <span class="toggle__title" data-js-title tabindex="0" aria-expanded="false" role="button" aria-controls="toggle-{{ block.id }}">
            <div class="toggle__heading">
              <span class="
                {{ section.settings.title_font }} text-size--{{ section.settings.title_size }}
                {% if section.settings.title_weight %} text-weight--bold {% endif %}
              ">
                <span class="text-animation--underline">{{ block.settings.title | escape }}</span>
              </span>
            </div>
          </span>

          <div id="toggle-{{ block.id }}" data-js-content class="toggle__content" role="region">
            <div class="rte remove-empty-space text-size--{{ section.settings.text_size }}">
              {{ block.settings.body }}
            </div>
            {%- liquid
              unless block.settings.image == blank 
                if settings.page_boxed_layout
                  assign sizes = 'sizes="(max-width: 1360px) 100vw, 1360px"'
                else
                  assign sizes = 'sizes="100vw"'
                endif
                render 'lazy-image', image: block.settings.image, alt: block.settings.title, sizes: sizes
              endunless
            -%}
          </div>
          
        </div>

      </toggle-tab>
    {%- endfor -%}

  </toggle-group>
{%- endif -%}

{%- render 'section-footer', cta_label: section.settings.cta_label, cta_label_is_translation: false, cta_url: section.settings.cta_url, nav: false, nav_desktop: false, nav_mobile: true -%}

{%- render 'color-scheme', color_scheme: section.settings.color_scheme, hide_section_bottom_border: section.settings.disable_section_bottom_border -%}
  
<script src="{{ 'component-toggle.js' | asset_url }}" defer></script>

{% schema %}
	{
    "name": "t:sections.local-extra-words.sections.content-toggles.name",
    "class": "element--has-section-borders mount-toggles",
		"settings": [
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.layout_labels.section_heading.label"
      },
      {
        "type": "textarea",
        "id": "heading",
        "label": "t:sections.local-extra-words.sections.headings.heading",
        "default": "Content toggles"
      },
      {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h2"
      },
      {
        "type": "checkbox",
        "id": "disable_section_title_border",
        "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_title_border",
        "default": false
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.labels.section_footer"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": "t:raw-extra-words.settings_schema.labels.button_text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "t:raw-extra-words.settings_schema.labels.button_url"
      },
      {
        "type": "header",
        "content": "t:settings_schema.typography.name"
      },
      {
        "type": "select",
        "id": "title_font",
        "label": "t:raw-extra-words.new_schema.title_font",
        "options": [
          {
            "value": "text-font--body",
            "label": "t:sections.split-extra-words.settings_schema.typography.headings.body"
          },
          {
            "value": "text-font--headings",
            "label": "t:sections.split-extra-words.settings_schema.typography.headings.headings"
          }
        ],
        "default": "text-font--body"
      },
      {
        "type": "select",
        "id": "title_size",
        "label": "t:sections.local-extra-words.settings_schema.product-card.title-size.name",
        "options": [
          {
            "label": "t:raw-extra-words.settings_schema.options.small",
            "value": "24"
          },
          {
            "label": "t:raw-extra-words.settings_schema.options.regular",
            "value": "30"
          },
          {
            "label": "t:raw-extra-words.settings_schema.options.large",
            "value": "40"
          },
          {
            "label": "t:raw-extra-words.settings_schema.options.extra_large",
            "value": "60"
          }
        ],
        "default": "40"
      },
      {
        "type": "checkbox",
        "id": "title_weight",
        "label": "t:raw-extra-words.new_schema.bold_title",
        "default": true
      }, 
      {
        "type": "select",
        "id": "text_size",
        "label": "t:raw-extra-words.settings_schema.labels.content_text_size",
        "options": [
          {
            "label": "t:raw-extra-words.settings_schema.options.small",
            "value": "16"
          },
          {
            "label": "t:raw-extra-words.settings_schema.options.regular",
            "value": "18"
          },
          {
            "label": "t:raw-extra-words.settings_schema.options.large",
            "value": "24"
          },
          {
            "label": "t:raw-extra-words.settings_schema.options.extra_large",
            "value": "30"
          }
        ],
        "default": "18"
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.colors.header_section"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:color-schemes.name_singular",
        "default": "scheme_1"
      },
      {
        "type": "checkbox",
        "id": "invert_selected_toggle",
        "label": "t:1-2-0.content_toggles.invert",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "disable_section_bottom_border",
        "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_bottom_border",
        "default": false
      }
		],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.local-extra-words.sections.content-toggles.block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.split-extra-words.settings_schema.headings.title",
            "default": "Question title"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "t:sections.faq.blocks.text.settings.text.label",
            "default": "<p>Write a complete answer to the most frequent questions that your customers might have, such as important product information, shipping policies, payment issues or returns.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.faq.blocks.text.settings.image.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.local-extra-words.sections.content-toggles.name",
        "blocks": [
          {
            "type": "text",
            "settings": {
              "title": "Shipping details",
              "body": "<p>Write some useful information about your shipping details<\/p><p>Link to your <a href='#'>shipping policy</a>.<\/p>"
            }
          },
          {
            "type": "text",  
            "settings": {
              "title": "Delivery details",
              "body": "<p>Let your customers know if you offer free delivery for certain types of orders<\/p><p>Link to your <a href='#'>offers page</a>.<\/p>"
            }
          },
          {
            "type": "text",  
            "settings": {
              "title": "Returns details",
              "body": "<p>Show customers how much time they have for testing your products<\/p><p>Link to your <a href='#'>returns policy</a>.<\/p>"
            }
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "custom.drawers", "custom.overlay"]
    }
  }
{% endschema %}