{{ 'section-account.css' | asset_url | stylesheet_tag }}

{%- render 'page-heading', title: 'customers.account_page.title', title_is_translation: true, custom_margin: 'gutter-bottom--small' -%}

<div class="gutter--grid-padding gutter-top--regular gutter-bottom--regular">
	<div class="account">

		{%- form 'customer_login' -%}

			<h2 class="text-size--30 text-font--headings text-weight--bold">{{ 'customers.login_page.title' | t }}</h2>
		
			<div id="resetSuccess" style="display:none;">
				{%- liquid
					assign message = 'customers.login_page.password_reset.success_message' | t
					render 'form-success', message: message
				-%}
			</div>

			{%- render 'form-errors', form: form -%}

			<div class="account__form-block ">

				<div class="account__form-row">
					<label for="customer_email" class="hide--force">{{ 'customers.login_page.form_email_label' | t }}</label>
					<input type="email" value="" name="customer[email]" id="customer_email" placeholder="{{ 'customers.login_page.form_email_label' | t }}" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>
				</div>
				
				{%- if form.password_needed -%}
					<div class="account__form-row">
						<label for="customer_password" class="hide--force">{{ 'customers.login_page.form_password_label' | t }}</label>
						<input type="password" value="" name="customer[password]" id="customer_password" placeholder="{{ 'customers.login_page.form_password_label' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
					</div>
				{%- endif -%}

				<div class="form-actions">

					{%- render 'button', style: 'solid', label: 'customers.login_page.form_login_button', label_is_translation: true, is_submit: true, type: 'button', class: 'button--fullwidth' -%}

					<div class="gutter-top--regular">
						{%- if form.password_needed -%}
							<span style="display: block; margin-bottom: .5em;" class="text-size--16">
								<a style="border-bottom:1px solid" href="#recover" onclick="showRecoverPasswordForm();return false;">
									<span class="text-animation--underline">{{ 'customers.login_page.forgot_password_check' | t }}</span>
								</a>
							</span>
						{%- endif -%}
						<span style="display: block;">
							<a style="border-bottom:1px solid" href="{{ routes.account_register_url }}">
								<span class="text-animation--underline">{{ 'customers.login_page.new_customer_button' | t }}</span>
							</a>
						</span>
					</div>

				</div>
			</div>

		{%- endform -%}

		<div id="recover_password" style="display: none;">

			<h3 class="text-size--30 text-font--headings text-weight--bold">{{ 'customers.login_page.password_reset.title' | t }}</h3>
			
			<span class="alert alert--note margin-bottom--large">
				{{ 'customers.login_page.password_reset.subtitle' | t }}
			</span>

			{% form 'recover_customer_password', class: 'simple-form' %}

				{% render 'form-errors', form: form %}

				{% if form.posted_successfully? %}
					{% assign reset_success = true %}
				{% endif %}

				<div class="account__form-block ">

					<div class="account__form-row">
						<label for="recover-email" class="hide--force">{{ 'customers.login_page.password_reset.email_label' | t }}</label>
						<input type="email" value="" name="email" id="recover-email" placeholder="{{ 'customers.login_page.password_reset.email_label' | t }}" autocorrect="off" autocapitalize="off">
					</div>

					<div class="account__form-row form-actions flex-buttons">

						{%- render 'button', style: 'solid', label: 'customers.login_page.password_reset.submit_button', label_is_translation: true, is_submit: true, type: 'button' -%}
						{%- render 'button', style: 'outline', label: 'customers.login_page.password_reset.cancel_button', label_is_translation: true, attribute: 'onclick="hideRecoverPasswordForm();return false;"' -%}

					</div>
				</div>
			{% endform %}

		</div>

		{%- if shop.checkout.guest_login -%}

			<h3 class="title h0" style="margin-top: 2em;">{{ 'customers.login_page.guest_check' | t }}</h3>

			{%- form 'guest_login' -%}
				{%- render 'button', style: 'solid', label: 'customers.login_page.guest_button', label_is_translation: true, is_submit: true, type: 'button' -%}
			{%- endform -%}
			
		{%- endif -%}

	</div>

</div>

<script>

	function showRecoverPasswordForm() {
		document.getElementById('recover_password').style.display = 'block';
		document.getElementById('customer_login').style.display='none';
	}

	function hideRecoverPasswordForm() {
		document.getElementById('recover_password').style.display = 'none';
		document.getElementById('customer_login').style.display = 'block';
	}

	if (window.location.hash == '#recover') { showRecoverPasswordForm() }

</script>

{% if reset_success %}
  <style type="text/css">
    #resetSuccess { 
      display: block !important;
      margin-top: 25px;
    }
  </style>
{% endif %}

{%- render 'color-scheme', color_scheme: blank, hide_section_bottom_border: false -%}

{% schema %}
  {
    "name": "t:sections.local-extra-words.sections.customers.login.name",
    "class": "element--has-section-borders"
  }
{% endschema %}