{{ 'section-account.css' | asset_url | stylesheet_tag }}

{%- render 'page-heading', title: 'customers.account_page.title', title_is_translation: true, custom_margin: 'gutter-bottom--small' -%}

<div class="gutter--grid-padding gutter-top--regular gutter-bottom--regular">
	
	<div class="account">

		<h2 class="text-size--30 text-font--headings text-weight--bold">{{ 'customers.register_page.title' | t }}</h2>

		<div class="account__form-block">

			{%- form 'create_customer', class: 'simple-form' -%}

				{%- render 'form-errors', form: form -%}
			
				<div class="account__form-row">
					<label for="first_name" class="hide--force">{{ 'customers.register_page.form.first_name_label' | t }}</label>
					<input type="text" value="" name="customer[first_name]" id="first_name" placeholder="{{ 'customers.register_page.form.first_name_label' | t }}" {% if form.errors contains "first_name" %} class="error"{% endif %} autocapitalize="words" autofocus>
				</div>
				
				<div class="account__form-row">
					<label for="last_name" class="hide--force">{{ 'customers.register_page.form.last_name_label' | t }}</label>
					<input type="text" value="" name="customer[last_name]" id="last_name" placeholder="{{ 'customers.register_page.form.last_name_label' | t }}" {% if form.errors contains "last_name" %} class="error"{% endif %} autocapitalize="words">
				</div>

				<div class="account__form-row">
					<label for="email" class="hide--force">{{ 'customers.register_page.form.email_label' | t }}</label>
					<input type="email" value="" name="customer[email]" id="email" placeholder="{{ 'customers.register_page.form.email_label' | t }}" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off">
				</div>

				<div class="account__form-row">
					<label for="password" class="hide--force">{{ 'customers.register_page.form.password_label' | t }}</label>
					<input type="password" value="" name="customer[password]" id="create_password" placeholder="{{ 'customers.register_page.form.password_label' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
				</div>

				<div class="account__form-row form-actions flex-buttons">
					<input class="button button--solid button--regular" type="submit" value="{{ 'customers.register_page.form.submit_button' | t }}">
				</div>
				
				<div class="account__form-row text-size--16">
					{{ 'customers.register_page.login_text' | t }} <a href="{{ routes.account_login_url }}">{{ 'customers.login_page.form_login_button' | t }}</a>
				</div>

			{%- endform -%}

		</div>
	</div>

</div>

{%- render 'color-scheme', color_scheme: blank, hide_section_bottom_border: false -%}

{% schema %}
  {
    "name": "t:sections.local-extra-words.sections.customers.register.name",
    "class": "element--has-section-borders"
  }
{% endschema %}