{{ 'component-product-variants.css' | asset_url | stylesheet_tag }}
{{ 'component-product-item.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

{%- render 'section-heading', heading: section.settings.heading, seo_h_tag: section.settings.seo_h_tag, hide_border: section.settings.disable_section_title_border  -%}

{%- liquid

  if section.settings.gallery_desktop_width contains 'one-half'
    if section.settings.gallery_layout contains 'one-col'
      assign gallery_class = 'grid-1'
      assign parent_class = 'grid-2 grid-lap-1'
    else  
      assign parent_class = 'grid-4 grid-lap-1'
      assign child_class = 'grid-offset-2 grid-offset-lap-1'
      assign gallery_class = 'grid-2 grid-portable-1'
      assign text_class = 'grid-offset-2 grid-offset-lap-1'
    endif
  else
    assign parent_class = 'grid-3 grid-portable-5 grid-lap-1'
    assign child_class = 'grid-offset-2 grid-offset-portable-3 grid-offset-lap-1'
    assign text_class = 'grid-portable-2 grid-offset-portable-2 grid-offset-lap-1'
    if section.settings.gallery_layout contains 'one-col'
      assign gallery_class = 'grid-1'
    else
      assign gallery_class = 'grid-2 grid-portable-1'
    endif
  endif

  assign product = all_products[section.settings.product]
  assign current_variant = product.selected_or_first_available_variant

-%}

{%- liquid
  unless product.has_only_default_variant
    assign default_to_first_variant = section.settings.default_to_first_variant
  else 
    assign default_to_first_variant = true
  endunless
-%}

<product-page 
  id="product-{{ section.id }}" 
  class="grid grid--layout {{ parent_class }} grid--no-stretch main-product
  {% if section.settings.remove_border_vertical %} product-page--no-vertical-border {% endif %}" 
  data-collection="{{ collection.handle }}" data-id="{{ product.id }}" 
  data-availability="{{ product.available }}" 
>

  {%- assign current_variant = product.selected_or_first_available_variant -%}

  <div class="{{ child_class }} {% if section.settings.remove_padding %} product-gallery--no-padding {% endif %} element--is-sticky">
    
    <div class="
      product-gallery 
      product-gallery--{% if section.settings.gallery_layout contains 'scroll' %}scroll{% else %}slider{% endif %} 
      lap--grid--slider-container
      {% if section.settings.gallery_layout contains 'scroll' and section.settings.show_thumbnails and product.media.size > 1 %} product-gallery--has-thumbnails {% endif %}
      {% if section.settings.add_gallery_item_border and section.settings.media_shape == 'none' %} product-gallery--borders {% endif %}
    " 
      {% if section.settings.remove_padding %} style="padding: 0" {% endif %}
      data-js-product-gallery
      id="product-gallery-{{ section.id }}"
    >

      {%- render 'media-shape', shape: section.settings.media_shape, id: section.id, element: 'product-gallery', is_product: true -%}

      {%- if product.media.size > 1 -%}
        <css-slider id="slider-product-gallery-{{ section.id }}" data-options='{
          "selector": ".product-gallery-item",
          "autoHeight": false,
          {%- if section.settings.gallery_layout contains 'scroll' -%}
            "watchCSS": true,
          {%- endif -%}
          "thumbnails": false, 
          "navigation": false,
          "listenScroll": {% if section.settings.add_parallax %} true {% else %} false {% endif %}
        }'
          class="css-slider--bottom-navigation element--border-radius" 
        >
      {%- endif -%}

        <div class="grid 
          {% if section.settings.gallery_layout contains 'slider' %} grid--slider {% else %} grid--layout {% endif %} {{ gallery_class }} 
          lap--grid--slider 
          {% unless section.settings.remove_padding %} grid--gap-gutter {% endunless %}
        " style="
          {% if section.settings.remove_border_radius or section.settings.remove_padding %} --border-radius-grid: 0; {% endif %}
        ">

          {%- if product.media.size == 0 -%} 
            <div class="product-gallery-item" style="padding-top: 100%">
              {{ 'product-apparel-1' | placeholder_svg_tag: 'onboarding-svg svg-placeholder svg-placeholder--background' }}
            </div>
          {%- else -%}
            {%- liquid
              for media in product.media
                render 'product-media', media: media, enable_zoom: section.settings.enable_zoom, loop: section.settings.enable_video_looping, index: forloop.index0, aspect_ratio: section.settings.gallery_aspect_ratio, layout: section.settings.gallery_layout, desktop_width: section.settings.gallery_desktop_width, mobile_width: 100
                if media.media_type == "external_video" or media.media_type == "video"
                  if video_script != true
                    echo 'component-video.css' | asset_url | stylesheet_tag
                    assign video_script = true 
                  endif
                endif
              endfor
            -%}
          {%- endif -%}

        </div>

      {%- if product.media.size > 1 -%} </css-slider> {%- endif -%}

      {%- if section.settings.show_thumbnails and product.media.size > 1 -%}
        
        <div class="product-gallery__navigation">

          <div class="product-gallery__thumbnails {% if section.settings.gallery_style contains 'scroll' %} hide portable-show {% endif %}" aria-hidden="true">
            <div class="product-gallery__thumbnails-holder">
              {%- for media in product.media -%}
                <button class="thumbnail data-index="{{ forloop.index0 }}" {% if section.settings.show_thumbnails %} tabindex="0" {% endif %}>
                  {%- render 'lazy-image-small', image: media.preview_image, aspect_ratio: section.settings.gallery_aspect_ratio, class: 'thumbnail__image' -%}
                  {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                    <span class="thumbnail__badge">{%- render 'theme-symbols', icon: 'badge-video-thumbnail' -%}</span>
                  {%- elsif media.media_type == 'model' -%}
                    <span class="thumbnail__badge">{%- render 'theme-symbols', icon: 'badge-model-thumbnail' -%}</span>
                  {%- endif -%}
                </button>
              {%- endfor -%}
            </div>
          </div>

        </div>

      {%- elsif product.media.size > 1 -%}

        <div class="product-gallery__navigation 
          {% unless section.settings.gallery_layout contains 'slider' %} hide lap-show {% endunless %}
        ">
          <css-slider-navigation data-slider-id="product-gallery-{{ section.id }}" class="css-slider-prev-next pagination">
            <div>
              <div class="go go--prev" data-js-slider-prev><span class="visually-hidden">{{ 'general.accessibility_labels.previous' | t }}</span> {% render 'theme-symbols' icon: 'arrow' %}</div>
              <div class="go go--next" data-js-slider-next><span class="visually-hidden">{{ 'general.accessibility_labels.next' | t }}</span> {% render 'theme-symbols' icon: 'arrow' %}</div>
            </div>
            <div><span data-js-slider-index>1</span> <span class="pagination__line">-</span> {{ product.media.size }}</div>
          </css-slider-navigation>
        </div>

      {%- endif -%}

      {%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}

      {%- if first_3d_model -%}
        <div class="text-align--center">
          <button
            title="{{ 'products.page.view_in_space_label' | t }}"
            class="button button--small product-gallery__view-in-space"
            data-shopify-xr
            data-shopify-first-model3d-id="{{ first_3d_model.id }}"
            data-shopify-model3d-id="{{ first_3d_model.id }}"
            data-shopify-title="{{ product.title | escape }}"
            data-shopify-xr-hidden
          >
            <span class='product-gallery__view-in-space-text'>{{ 'products.page.view_in_space' | t }}</span>
            {%- render 'theme-symbols', icon: 'model-button' -%}
          </button>

          <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
          <script src="{{ 'component-product-model.js' | asset_url }}" defer></script>

        </div>
        
      {%- endif -%}

    </div>
  </div>

  <div class="product-text {{ text_class }} element--is-sticky remove-empty-space 
    {% if section.settings.remove_border_blocks %} product-text--no-blocks-border {% endif %}
  ">

    {%- assign product_form_id = 'product-form-' | append: section.id -%}

    {%- for block in section.blocks -%}
      {%- case block.type -%}

        {%- when '@app' -%}

          <div>
            {%- render block -%}
          </div>

        {%- when 'collapsible_tab' -%}

          {%- liquid
            assign show_block = true
            if block.settings.hide_block_if == true 
              if block.settings.page == blank and block.settings.image == blank and block.settings.content == blank
                assign show_block = false
              endif
            endif
          -%}
          {%- if show_block -%}
            <toggle-tab class="toggle toggle--facets toggle-block product-text-element--with-borders" {{ block.shopify_attributes }}>
              <div class="toggle__title" data-js-title tabindex="0" aria-expanded="false" role="button" aria-controls="toggle-{{ block.id }}">
                
                <div class="toggle__heading">
                  <span class="facets__summary-text text-transform--uppercase">
                    {{ block.settings.heading | escape }}
                   </span>
                </div>
              </div>
             
              <div id="toggle--{{ block.id }}" data-js-content class="toggle__content rte remove-empty-space" role="region">
                {%- liquid
                  echo block.settings.content
                  unless block.settings.page == blank
                    echo block.settings.page.content
                  endunless
                  unless block.settings.image == blank
                    render 'lazy-image', image: block.settings.image, type: 'image', alt: block.settings.title, sizes: 'sizes="(max-width: 767px) calc(100vw - 20px), 50vw"'
                  endunless
                -%}
              </div>
            </toggle-tab>
          {%- endif -%}

        {%- when 'tabs' -%}

          <div class="product-text-element--with-borders">

            <div class="tabs" data-js-product-tabs>
              
              {%- if block.settings.tab_label_1 != blank -%}

                {%- liquid
                  if block.settings.hide_block_if == true and block.settings.tab_content_1 != blank
                    assign show_block_1 = true
                  elsif block.settings.hide_block_if == false
                    assign show_block_1 = true
                  endif
                -%}

                {%- if show_block_1 -%} <input type="radio" id="{{ block.id }}-product-tab1" name="product-tabs" checked> {%- endif -%}

              {%- endif -%}

              {%- if block.settings.tab_label_2 != blank -%}

                {%- liquid
                  if block.settings.hide_block_if == true and block.settings.tab_content_2 != blank
                    assign show_block_2 = true
                  elsif block.settings.hide_block_if == false
                    assign show_block_2 = true
                  endif
                -%}

                {%- if show_block_2 -%} <input type="radio" id="{{ block.id }}-product-tab2" name="product-tabs"> {%- endif -%}

              {%- endif -%}

              {%- if block.settings.tab_label_3 != blank -%}

                {%- liquid
                  if block.settings.hide_block_if == true and block.settings.tab_content_3 != blank
                    assign show_block_3 = true
                  elsif block.settings.hide_block_if == false
                    assign show_block_3 = true
                  endif
                -%}

                {%- if show_block_3 -%} <input type="radio" id="{{ block.id }}-product-tab3" name="product-tabs"> {%- endif -%}

              {%- endif -%}
              
              <ul class="tabs_labels">

                {%- if show_block_1 -%}
                  <li class="tabs_label"><label tabindex="0" for="{{ block.id }}-product-tab1" class="button button--small text-size--16"><span>{{ block.settings.tab_label_1 | escape }}</span></label></li>
                {%- endif -%}

                {%- if show_block_2 -%}
                  <li class="tabs_label"><label tabindex="0" for="{{ block.id }}-product-tab2" class="button button--small text-size--16"><span>{{ block.settings.tab_label_2 | escape }}</span></label></li>
                {%- endif -%}

                {%- if show_block_3 -%}
                  <li class="tabs_label"><label tabindex="0" for="{{ block.id }}-product-tab3" class="button button--small text-size--16"><span>{{ block.settings.tab_label_3 | escape }}</span></label></li>
                {%- endif -%}

              </ul>
              
              {%- if block.settings.tab_label_1 != blank and block.settings.tab_content_1 != blank -%}
                <div class="tabs_content rte">
                  {{ block.settings.tab_content_1 }}
                </div>
              {%- endif %}
              
              {%- if block.settings.tab_label_2 != blank and block.settings.tab_content_2 != blank -%}
                <div class="tabs_content rte">
                  {{ block.settings.tab_content_2 }}
                </div>
              {%- endif %}

              {%- if block.settings.tab_label_3 != blank and block.settings.tab_content_3 != blank -%}
                <div class="tabs_content rte">
                  {{ block.settings.tab_content_3 }}
                </div>
              {%- endif -%}

            </div>
            
          </div>

        {%- when 'vendor' -%}

          <span 
            class="product__subtitle rte"
            {{ block.shopify_attributes }}
          >
            <a href="{{ product.vendor | url_for_vendor }}">
              <span class="text-animation--underline text-animation--underline-small"><span>{{ product.vendor | escape }}</span></span>
            </a>
          </span>

        {%- when 'text' -%} 

          <span 
            class="product__subtitle {{ block.settings.text_size }} rte remove-empty-space
            {% unless block.settings.add_border %} product-text-element--with-borders {% endunless %}
            {% if block.settings.text_transform %} text-transform--uppercase {% endif %}"
            {% if block.settings.text_style != "rgba(0,0,0,0)" %}
              style="color: {{ block.settings.text_style }}"
            {% endif %}
            {{ block.shopify_attributes }}
          >
            {{ block.settings.text }}
          </span>

        {%- when 'title' -%}

          <{{ block.settings.seo_h_tag }} class="product__title {{ block.settings.text_font }} {{ block.settings.text_size }}" 
            {{ block.shopify_attributes }}
          >
            {%- liquid
              unless product == blank 
                echo product.title | escape
              else 
                echo 'general.onboarding.product_title' | t
              endunless
            -%}
          </{{ block.settings.seo_h_tag }}>

          {%- if block.settings.mobile_text_size != "1" -%}
            <style type="text/css" style="display:none!important">
              @media screen and (max-width: 767px) {
                #shopify-section-{{ section.id }} .product__title {
                  --font-mobile-corrector: {{ block.settings.mobile_text_size }};
                }
              }
            </style>
          {%- endif -%}

        {%- when 'price' -%}
          
          <div class="text-size--30" {{ block.shopify_attributes }}>
            {%- liquid
              unless product == blank
                if default_to_first_variant
                  render 'product-price', variant: current_variant, target: current_variant, id: section.id
                else
                  render 'product-price', variant: current_variant, target: product, product_price_varies: product.price_varies, id: section.id
                endif
              else  
                echo '9999' | money
              endunless
            -%}
          </div>

        {%- when 'tax_info' -%}

          {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product-policies" data-product-policies {{ block.shopify_attributes }}>
              {% if cart.taxes_included %}
                {{ 'products.page.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.page.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

        {%- when 'sku_barcode' -%}

          <div class="product__sku-barcode" {{ block.shopify_attributes }}>
            <span class="product__sku" data-js-product-sku>
              {%- if current_variant.sku != empty -%}
                {{ 'products.page.sku' | t }}{{ current_variant.sku | escape }}
              {%- endif -%}
            </span>
            <span class="product__barcode" data-js-product-barcode>
              {%- if current_variant.barcode != empty -%}
                {{ 'products.page.barcode' | t }}{{ current_variant.barcode | escape }}
              {%- endif -%}
            </span>
          </div>

        {%- when 'description' -%}

          {%- unless product.description == blank -%}

            <div class="product__description-holder product-text-element--with-borders
            " {{ block.shopify_attributes }}
              {% if product.description == blank %} style="display:none" {% endif %}
            >

              {%- if block.settings.product_description_truncated != 'full' -%}
                <show-more class="show-more"
                  id="show-more-{{ section.id }}"
                  data-lines="{{ block.settings.product_description_truncated }}"
                >
                  <script>
                    const showMore_{{ section.index }} = document.getElementById('show-more-{{ section.id }}');
                    showMore_{{ section.index }}.setAttribute('style', `--height:${parseInt(window.getComputedStyle(showMore_{{ section.index }}).getPropertyValue('line-height')) * {{ block.settings.product_description_truncated }}}px`);
                  </script>
                  <div class="show-more__panel" data-js-show-more-panel>
              {%- endif -%}
              
                  <div class="product__description 
                    {{ block.settings.text_size }} {{ block.settings.text_font }} {{ block.settings.text_line_height }}
                    rte remove-empty-space"
                  >
                    {{ product.description }}
                  </div>
  
              {%- if block.settings.product_description_truncated != 'full' -%}
                  </div>
                  <button class="button button--small button--outline--hover-accent show-more__button"
                    data-js-show-more-toggle tabindex="0"
                  > 
                    <span class="button__text">{{ 'general.accessibility_labels.show_more' | t }}</span>
                  </button>
                </show-more>
                <script src="{{ 'component-show-more.js' | asset_url }}" defer></script>
              {%- endif -%}

            </div>

          {%- endunless -%}

        {%- when 'variant_picker' -%}

          {%- unless product == blank -%}

            {%- assign color_label = settings.color_swatches_labels | split: ',' -%}

            <product-variants 
              data-main-product-variants
              data-variants="{{ product.options_with_values.size }}"
              data-hide-variants="{%- liquid
                if block.settings.unavailable_variants == 'disable' 
                  echo 'disable'
                elsif block.settings.unavailable_variants == 'show'
                  echo 'true'
                else
                  echo 'hide'
                endif
              -%}"
              data-url="{{ product.url }}" data-id="{{ section.id }}"
              data-style="{{ block.settings.variants_style }}"
              {% if product.has_only_default_variant %} style="display:none" {% endif %}
              {% if product.available == false and block.settings.unavailable_variants == 'hide' %} style="display:none" {% endif %}
              class="product-text-element--with-borders product-variants {% if block.settings.unavailable_variants == 'hide' %} product-variants--hide-unavailable {% endif %} no-js-hidden"
              {% unless default_to_first_variant %} data-variant-required {% endunless %}
              {% unless product.has_only_default_variant %} data-has-variants {% elsif product.available == false %} data-unavailable {% endunless %}
              {{ block.shopify_attributes }}
            > 

              {%- if product.options_with_values -%}

                <div>
          
                  {%- for option in product.options_with_values -%}
            
                    {%- assign option_downcased = option.name | downcase -%}
                    
                    <div class="product-variant" data-name="product-{{ option.name | escape | downcase | strip }}-{{ section.id }}" data-js-product-variant>
            
                      <span class="product-variant__name">{{ 'products.grid.select_variant' | t: variant: option_downcased }}</span>
            
                      {%- if color_label contains option_downcased and settings.color_swatches -%}
            
                        <div class="product-variant__container product-variant__container--radio product-variant__container--radio--wrap" data-js-product-variant-container="radio">
                          {%- for value in option.values -%}
                            <div class="product-variant__item product-variant__item--radio product-variant__item--color">
                              <input type="radio" name="product-{{ option.name | escape | downcase | strip }}-{{ section.id }}" id="{{ product.handle }}-option-{{ option.name | escape | downcase | strip }}-{{ forloop.index }}-{{ section.id }}" value="{{ value | escape }}" {% if default_to_first_variant and option.selected_value == value %}checked{% endif %} class="product-variant__input product-variant-value">
                              <label for="{{ product.handle }}-option-{{ option.name | escape | downcase | strip }}-{{ forloop.index }}-{{ section.id }}" class="product-variant__label">
                                {%- liquid 
                                  assign color_swatch_name = value | handle | append: '.png'
                                  assign color_swatch_image = images[color_swatch_name]
                                  assign color_swatch_background = value | downcase | escape | replace: ' ', ''
                                -%}
                                {%- if color_swatch_image != blank -%}
                                  <img class="product-variant__item-swatch product-variant__item-swatch--color"
                                    src="{{ color_swatch_image | image_url: width: 30, height: 30, crop: 'center' }}"
                                    srcset="
                                      {{ color_swatch_image | image_url: width: 30, height: 30, crop: 'center' }} 30w,
                                      {{ color_swatch_image | image_url: width: 60, height: 60, crop: 'center' }} 60w,
                                      {{ color_swatch_image | image_url: width: 90, height: 90, crop: 'center' }} 90w
                                    "
                                    sizes="30px" width="30" height="30"
                                    loading="lazy"
                                    alt="{{ color_swatch_image.alt | escape }}"
                                  />
                                {%- else -%}
                                  <span class="product-variant__item-swatch product-variant__item-swatch--image" style="background-color:{{ color_swatch_background }}"></span>
                                {%- endif -%}
                                <span class="visually-hidden">{{ value | escape }}</span>
                              </label>
                            </div>
                          {%- endfor -%}
          
                        </div>
            
                        <span class="product-variant__item-text-label text-size--14 text-line-height--small">
                          {%- liquid
                            unless default_to_first_variant
                              echo 'products.grid.color_variants_count' | t: count: option.values.size
                            else
                              echo option.selected_value
                            endunless
                          -%}
                        </span>
            
                      {%- elsif block.settings.variants_style == 'select' -%}
            
                        <select class="product-variant__container product-variant__container--select" id="product-{{ option.name | escape | downcase | strip }}-{{ section.id }}" data-js-product-variant-container="select">
                          {%- unless default_to_first_variant -%}
                            <option class="product-variant-value" default selected disabled>{{ 'products.grid.select_variant' | t: variant: option_downcased }}</option>
                          {%- endunless -%}
                          {%- for value in option.values -%}
                            <option class="product-variant-value" value="{{ value | escape }}" {% if default_to_first_variant and option.selected_value == value %}selected{% endif %}>
                              {{ value | escape }}
                            </option>
                          {%- endfor -%}
                        </select>
            
                      {%- else -%}
              
                        <div class="product-variant__container product-variant__container--radio product-variant__container--radio--wrap" data-js-product-variant-container="radio">
                          {%- for value in option.values -%}
                            <div class="product-variant__item product-variant__item--radio">
                              <input type="radio" name="product-{{ option.name | escape | downcase | strip }}-{{ section.id }}" id="{{ product.handle }}-option-{{ option.name | escape | downcase | strip }}-{{ forloop.index }}-{{ section.id }}" value="{{ value | escape }}" {% if default_to_first_variant and option.selected_value == value %}checked{% endif %} class="product-variant__input product-variant-value">
                              <label for="{{ product.handle }}-option-{{ option.name | escape | downcase | strip }}-{{ forloop.index }}-{{ section.id }}" class="product-variant__label">
                                {{ value | escape }}
                              </label>
                            </div>
                          {%- endfor -%}
                        </div>
            
                      {%- endif -%}

                      {%- if block.settings.size_guide_set contains option_downcased and block.settings.size_guide_page != blank -%}

                        {%- assign size_chart_id = 'size-chart-' | append: section.id -%}

                        <a class="product-variant__size-chart-link text-size--14 {% if block.settings.open_mode == "popup" %} js-toggle-size-chart-modal {% endif %}" 
                          href="{{ block.settings.size_guide_page.url }}" 
                          {% if block.settings.size_guide_open == 'blank' %} target="_blank" {% endif %}
                          {% if block.settings.size_guide_open == 'popup' %} onclick="document.getElementById('{{ size_chart_id }}').show();return false;" {% endif %}
                        >
                          <span>{{ block.settings.size_guide_button | escape }}</span>
                        </a>

                      {%- liquid
                        if block.settings.size_guide_open == 'popup'  
                          render 'modal', id: size_chart_id, enabled: false, size: 80, subject: pages[block.settings.size_guide_page].title, content: pages[block.settings.size_guide_page].content, append_to_body: false
                        endif
                      -%} 

                      {%- endif -%}
            
                    </div>
            
                  {%- endfor -%}
                  
                </div>
                
              {%- endif -%}
        
              <noscript>
                <label for="Variants-{{ section.id }}" style="display:block;margin-bottom:.75rem">{{ 'products.page.variants' | t }}</label>
                <select name="id" id="Variants-{{ section.id }}" class="productSelect"
                  {% if product.has_only_default_variant %} style="display:none!important" {% endif %}
                  form="{{ product_form_id }}"
                >
                  {%- for variant in product.variants -%}
                    <option
                      {% if variant == current_variant %}selected="selected"{% endif %}
                      {% if variant.available == false %}disabled{% endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                      {% if variant.available == false %} - {{ 'products.page.inventory.sold_out_variant' | t }}{% endif %}
                      - {{ variant.price | money | strip_html }}
                    </option>
                  {%- endfor -%}
                </select>
              </noscript>
          
              <script type="application/json">
                {{ product.variants | json }}
              </script>

            </product-variants>

          {%- endunless -%}

        {%- when 'buy_buttons' -%}

          {%- unless product == blank -%}
          
            <div class="product-actions product-text-element--with-borders" {{ block.shopify_attributes }}>

              <product-form 
                id="add-to-cart-{{ section.id }}" class="product-form" {% if settings.cart_action == 'overlay' %} data-ajax-cart data-js-product-form {% endif %}
              >
                
                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}

                  <template>
                    <input type="hidden" name="id" value="{{ current_variant.id }}">
                  </template>
                  <script>
                    document.getElementById('add-to-cart-{{ section.id }}').querySelector('form').append(document.getElementById('add-to-cart-{{ section.id }}').querySelector('template').content.cloneNode(true));
                  </script>

                  <div class="product__cart-functions">

                    {%- if block.settings.show_inventory -%}
                      <div class="product-variant__quantity-holder" {{ block.shopify_attributes }}>
                        <span class="product-variant__quantity text-size--16" 
                          data-js-variant-quantity 
                          data-type="always"
                          data-low-stock="5"
                        ></span>
                        {%- capture variant_inventory -%}
                          [{%- for variant in product.variants -%}{
                            "id": {{ variant.id }}{%- if variant.inventory_management != null -%}, 
                            "quantity": {{ variant.inventory_quantity }}, 
                            "inventory": "{{ variant.inventory_policy }}"{%- endif -%}
                            {%- if variant.available == false -%},"unavailable": true{%- endif -%}
                            }{%- unless forloop.last -%},{%- endunless -%}
                          {%- endfor -%}]
                        {%- endcapture -%}
                        <span data-js-variant-quantity-data data-inventory='{{ variant_inventory }}'></span>
                      </div>
                    {%- endif -%}

                    {%- liquid
                      if product.gift_card? and block.settings.show_gift_card_recipient
                        render 'gift-card-recipent-form', product: product
                      endif
                    -%}

                    <div class="flex-buttons">

                      {%- liquid
                        if block.settings.show_quantity_selector 
                          render 'product-quantity-selector', product: product, default_to_first_variant: default_to_first_variant, id: section.id
                        endif
                      -%}

                      <button type="submit" name="add" class="
                        add-to-cart button button--loader
                        {% unless block.settings.show_dynamic_checkout and block.settings.show_gift_card_recipient == false %} button--solid--hover-accent {% else %} button--outline--hover-accent {% endunless %}
                        {% unless current_variant.available %} disabled {% endunless %}
                        {% unless default_to_first_variant %} disabled {% endunless %}" 
                        data-js-product-add-to-cart
                        data-main-product-add-to-cart
                      >
                        {%- unless block.settings.show_price -%}
                          <style type="text/css">
                            #add-to-cart-{{ section.id }} .button__price {
                              display: none;
                            }
                          </style>
                        {%- endunless -%}
                        <span class="button__text" data-js-product-add-to-cart-text {% if block.settings.show_preorder %} data-show-preorder-wording {% endif %}>
                          {%- liquid
                            unless default_to_first_variant
                              if product.available
                                echo 'products.grid.choose_variant_first' | t
                              else
                                echo 'products.page.inventory.sold_out_variant' | t
                              endif
                            else
                              if current_variant.available
                                unless block.settings.show_preorder
                                  echo 'products.page.add_to_cart_button' | t
                                  echo current_variant.price | money | prepend: '<span class="button__price"> - ' | append: '</span>' 
                                else
                                  echo 'products.page.preorder_button' | t
                                endunless
                              else
                                echo 'products.page.inventory.sold_out_variant' | t
                              endif
                            endunless
                          -%}
                        </span>
                        <span class="button__loader">{{ 'products.grid.loading' | t }}</span>
                      </button>
                      
                      {%- liquid
                        if product.gift_card? and block.settings.show_gift_card_recipient
                          assign show_dynamic_checkout = false
                        else 
                          assign show_dynamic_checkout = block.settings.show_dynamic_checkout
                        endif
                        if show_dynamic_checkout
                          echo form | payment_button
                        endif
                      -%}

                      <style type="text/css">
                        #add-to-cart-{{ section.id }} .flex-buttons {
                          --color-scheme-text: {{ block.settings.color_scheme.settings.text }};
                          --color-scheme-text-foreground: {{ block.settings.color_scheme.settings.background }};
                          --color-scheme-accent: {{ block.settings.color_scheme.settings.accent }};
                          --color-scheme-accent-foreground: {{ block.settings.color_scheme.settings.accent_foreground }};
                        }
                        #add-to-cart-{{ section.id }} .shopify-payment-button__more-options {
                          --color-scheme-text: {{ section.settings.color_scheme.settings.text }};
                        }
                      </style>

                    </div>
                    
                  </div>

                {%- endform -%}

              </product-form>

              {%- form 'product', product, id: 'product-form-installment' -%}
                <input type="hidden" name="id" value="{{ current_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}

            </div>

          {%- endunless -%}

        {%- when 'pickup_availability' -%} 

          {%- assign pick_up_availabilities = current_variant.store_availabilities | where: 'pick_up_enabled', true -%}

          <div class="product-text-element--with-borders"
            {% unless current_variant.available and pick_up_availabilities.size > 0 %} 
              style="display:none" 
            {% endunless %}
          >

            <pickup-availability class="product__pickup-availabilities no-js-hidden"
              {% if current_variant.available and pick_up_availabilities.size > 0 %} available {% endif %}
                data-base-url="{{ shop.url }}{{ routes.root_url }}"
                data-variant-id="{{ current_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
                data-id="{{ section.id }}"
                {{ block.shopify_attributes }}
              >

                <template>
                  <pickup-availability-preview class="pickup-availability-preview store-availability-container">
                    <div class="store-availability-information">
                      {%- render 'theme-symbols', icon: 'out_of_stock' -%}
                      <div class="store-availability-information-container">
                        <p class="store-availability-information__title">{{ 'store_availability.pick_up_currently_unavailable' | t }}</p>
                        <p class="store-availability-information__stores">
                          <button class="button button--small button--outline--hover-accent store-availability-information__link" data-store-availability-modal-open aria-haspopup="dialog">
                            <span class="button__text">{{ 'store_availability.refresh' | t }}</span>
                          </button>
                        </p>
                      </div>
                  </div>
                </template>

            </pickup-availability>
            
            <script src="{{ 'component-pickup-availability.js' | asset_url }}" defer></script>

          </div>

        {%- when 'rating' -%}

          <div {{ block.shopify_attributes }}>
            {%- render 'product-rating', type: 'full', product: product -%}
          </div>

        {%- when 'product_badges' -%}

          {%- render 'product-badges', product: product, attributes: block.shopify_attributes -%}

        {%- when 'icons' -%}

          <div class="pill-container pill-container--{{ block.settings.icon_style }}" {{ block.shopify_attributes }}
            style="--color-scheme-background: {{ block.settings.icon_text }}; --color-scheme-text: {{ block.settings.icon_background }}"
          >
            {%- liquid
              assign pill_style = 'pill pill--solid pill--large'
              if block.settings.icon_background == "rgba(0,0,0,0)"
                assign pill_style = pill_style | append: ' pill--no-bg'
              endif
              render 'product-icon-label', icon: block.settings.icon_1_image, label: block.settings.icon_1_label, style: pill_style
              render 'product-icon-label', icon: block.settings.icon_2_image, label: block.settings.icon_2_label, style: pill_style
              render 'product-icon-label', icon: block.settings.icon_3_image, label: block.settings.icon_3_label, style: pill_style
              render 'product-icon-label', icon: block.settings.icon_4_image, label: block.settings.icon_4_label, style: pill_style
              render 'product-icon-label', icon: block.settings.icon_5_image, label: block.settings.icon_5_label, style: pill_style
              render 'product-icon-label', icon: block.settings.icon_6_image, label: block.settings.icon_6_label, style: pill_style
            -%}
          </div>

          {%- when 'image' -%}
            <div class="product-image-block product-text-element--with-borders" {{ block.shopify_attributes }}>
              <div class="{% unless block.settings.remove_border_radius %} element--border-radius {% endunless %} element--overflow-hidden">
  
                {%- if block.settings.link -%}
                  <a href="{{ block.settings.link }}" {% unless block.settings.open_in_new_window == false %} target="_blank" {% endunless %}>
                {%- endif -%}  
  
                {%- unless block.settings.image == blank -%}
  
                  {%- liquid
                    
                    if block.settings.mobile_image != blank
                      assign desk_image_class = 'lap-hide'
  
                      render 'lazy-image', image: block.settings.mobile_image, sizes: 'sizes="(max-width: 767px) calc(100vw - 20px), 50vw"', hover_animation: add_hover_animation, class: 'hide lap-show'
  
                    endif 
                  
                    if block.settings.link != blank 
                      assign add_hover_animation = true
                    endif
  
                    render 'lazy-image', image: block.settings.image, sizes: 'sizes="(max-width: 767px) calc(100vw - 20px), 50vw"', hover_animation: add_hover_animation, class: desk_image_class
                    
                  -%}
  
                {%- else -%}
                  {%- render 'lazy-svg', image: 'hero-apparel-1', class: 'onboardig-svg' -%}
                {%- endunless -%}
  
                {%- if block.settings.link -%}
                  </a>
                {%- endif -%}
  
              </div>
            </div>

        {%- when 'complementary' -%}

          <product-recommendations data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=10&intent=complementary" {{ block.shopify_attributes }} style="display:block!important">

            {%- if recommendations.performed and recommendations.products_count > 0 -%}
              <span class="text-weight--bold">{{ block.settings.heading | escape }}</span>
              <div class="product-complementary">
                {%- liquid
                  echo '<div>'
                  for product in recommendations.products 
                    render 'product-cross-sell', product: product
                    assign odd = forloop.index | modulo: 2
                    if odd == 0
                      echo '</div>'
                      unless forloop.last 
                        echo '<div>'
                      endunless
                    endif
                  endfor 
                  assign ending = recommendations.products.size | modulo: 2
                  if ending != 0
                    echo '</div>'
                  endif
                -%}
              </div>
            {%- endif -%}

          </product-recommendations>
        
        {%- when 'product_link' -%}
          <div class="product-text-element--with-borders">
            {%- render 'button', label: 'products.featured_product.view_product_details', label_is_translation: true, link: product.url, style: 'outline-arrow' -%}
          <div>

        {%- when 'custom_liquid' -%}
          <div class="product-custom-liquid" {{ block.shopify_attributes }}>
            {{ block.settings.custom_liquid }}
          </div>
          
      {%- endcase -%}

    {%- endfor -%}

  </div>

  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
  {%- endif -%}

</product-page>

{%- if section.settings.enable_zoom -%}
  <script src="{{ 'component-product-image-zoom.js' | asset_url }}" defer></script>
{%- endif -%}

<script src="{{ 'section-main-product.js' | asset_url }}" defer></script>

{%- if video_script -%}
  <script src="{{ 'component-video.js' | asset_url }}" defer></script>
{%- endif -%}


{%- render 'color-scheme', color_scheme: section.settings.color_scheme, hide_section_bottom_border: section.settings.disable_section_bottom_border -%}
{%- if section.settings.color_scheme != settings.color_scheme_container -%}
  <style type="text/css">
    #product-{{ section.id }} .star-rating__stars {
      background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="19" viewBox="0 0 20 19" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m10 1.61804 1.7696 5.4463.1123.34549h.3632 5.7266l-4.6329 3.36597-.2939.2136.1123.3454 1.7696 5.4464-4.6329-3.366-.2939-.2136-.29389.2136-4.63291 3.366 1.76962-5.4464.11225-.3454-.29389-.2136-4.6329-3.36597h5.72658.36327l.11226-.34549z" stroke="{{ section.settings.color_scheme.settings.text | url_encode }}"/></svg>');
    }
    #product-{{ section.id }} .star-rating__stars-active {
      background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="19" viewBox="0 0 20 19" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m10.0001 0 2.2451 6.90983h7.2654l-5.8778 4.27047 2.2451 6.9099-5.8778-4.2705-5.87789 4.2705 2.24514-6.9099-5.877848-4.27047h7.265428z" fill="{{ section.settings.color_scheme.settings.text | url_encode }}"/></svg>');
    }
    #product-{{ section.id }} select {
      background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="10" viewBox="0 0 16 10" width="16" xmlns="http://www.w3.org/2000/svg"><g fill="{{ section.settings.color_scheme.settings.text | url_encode }}"><path d="m15.071 2.17151-7.07102 7.07107-1.41422-1.41422 7.07104-7.071065z"/><path d="m2.34314.757385 7.07107 7.071065-1.41422 1.41422-7.071064-7.07107z"/></g></svg>') !important;
    }
  </style>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.featured-product.name",
    "class": "element--has-section-borders mount-css-slider mount-toggles mount-product-page",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "collapsible_tab",
        "name": "t:sections.main-product.blocks.collapsible_tab.name",
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label",
            "default": "Collapsible tab"
          },
          {
            "id": "content",
            "type": "richtext",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label",
            "default": "<p>Write relevant information about your products here.</p>"
          },
          {
            "id": "page",
            "type": "page",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.image.label"
          },
          {
            "type": "header",
            "content": "t:local-march-update.labels.dynamic_content.name"
          },
          {
            "type": "checkbox",
            "label": "t:local-march-update.labels.dynamic_content.hide_block",
            "id": "hide_block_if",
            "default": false
          }
        ]
      }, 
      {
        "type": "tabs",
        "name": "t:raw-extra-words.settings_schema.labels.tabs",
        "settings": [
          {
            "type": "header",
            "content": "t:raw-extra-words.settings_schema.labels.tab_1"
          },
          {
            "type": "text",
            "id": "tab_label_1",
            "default": "Tab 1",
            "label": "t:sections.split-extra-words.settings_schema.headings.title"
          },
          {
            "type": "richtext",
            "id": "tab_content_1",
            "default": "<p>Tab <strong>content</strong> here.</p>",
            "label": "t:raw-extra-words.settings_schema.layout_labels.content"
          },
          {
            "type": "header",
            "content": "t:raw-extra-words.settings_schema.labels.tab_2"
          },
          {
            "type": "text",
            "id": "tab_label_2",
            "default": "Tab 2",
            "label": "t:sections.split-extra-words.settings_schema.headings.title"
          },
          {
            "type": "richtext",
            "id": "tab_content_2",
            "default": "<p>Tab <strong>content</strong> here.</p>",
            "label": "t:raw-extra-words.settings_schema.layout_labels.content"
          },
          {
            "type": "header",
            "content": "t:raw-extra-words.settings_schema.labels.tab_3"
          },
          {
            "type": "text",
            "id": "tab_label_3",
            "default": "Tab 3",
            "label": "t:sections.split-extra-words.settings_schema.headings.title"
          },
          {
            "type": "richtext",
            "id": "tab_content_3",
            "default": "<p>Tab <strong>content</strong> here.</p>",
            "label": "t:raw-extra-words.settings_schema.layout_labels.content"
          },
          {
            "type": "header",
            "content": "t:local-march-update.labels.dynamic_content.name"
          },
          {
            "type": "checkbox",
            "label": "t:local-march-update.labels.dynamic_content.hide_block",
            "id": "hide_block_if",
            "default": false
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.main-product.blocks.text.name",
        "settings": [
          {
            "id": "text",
            "type": "richtext",
            "default": "<p>Text block</p>",
            "label": "t:sections.main-product.blocks.text.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_size",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.label",
            "options": [
              {
                "value": "text-size--18",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__1"
              },
              {
                "value": "text-size--24",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__2"
              },
              {
                "value": "text-size--30",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__3"
              }
            ],
            "default": "text-size--18"
          },
          {
            "type": "color",
            "id": "text_style",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.color.label",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "checkbox",
            "id": "text_transform",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.transform.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "add_border",
            "label": "t:raw-extra-words.settings_schema.borders.remove.hide_borders",
            "default": false
          }
        ]
      },
      {
        "type": "vendor",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.vendor",
        "limit": 1
      },
      {
        "type": "title",
        "name": "t:sections.main-product.blocks.title.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "text_font",
            "label": "t:raw-extra-words.new_schema.text_font",
            "options": [
              {
                "value": "text-font--body",
                "label": "t:sections.split-extra-words.settings_schema.typography.headings.body"
              },
              {
                "value": "text-font--headings",
                "label": "t:sections.split-extra-words.settings_schema.typography.headings.headings"
              }
            ],
            "default": "text-font--headings"
          },
          {
            "type": "select",
            "id": "text_size",
            "label": "t:sections.footer.blocks.text.settings.text_size.label",
            "options": [
              {
                "value": "text-size--60",
                "label": "t:raw-extra-words.settings_schema.options.regular"
              },
              {
                "value": "text-size--80",
                "label": "t:raw-extra-words.settings_schema.options.large"
              },
              {
                "value": "text-size--100",
                "label": "t:raw-extra-words.settings_schema.options.extra_large"
              },
              {
                "value": "text-size--200",
                "label": "t:raw-extra-words.settings_schema.options.huge"
              }
            ],
            "default": "text-size--80"
          },
          {
            "type": "select",
            "id": "mobile_text_size",
            "label": "t:1-2-0.mobile_text_size.label",
            "options": [
              {
                "value": "1",
                "label": "t:raw-extra-words.settings_schema.options.default"
              },
              {
                "value": "var(--mobile-text-size-small)",
                "label": "t:raw-extra-words.settings_schema.options.small"
              },
              {
                "value": "var(--mobile-text-size-medium)",
                "label": "t:raw-extra-words.settings_schema.options.medium"
              },
              {
                "value": "var(--mobile-text-size-large)",
                "label": "t:raw-extra-words.settings_schema.options.large"
              }
            ],
            "default": "1"
          },
          {
            "type": "header",
            "content": "t:sections.refactor_words.seo.name"
          },
          {
            "type": "select",
            "id": "seo_h_tag",
            "label": "t:sections.refactor_words.seo.label",
            "info": "t:sections.refactor_words.seo.info",
            "options": [
              {
                "value": "h1",
                "label": "H1"
              },
              {
                "value": "h2",
                "label": "H2"
              },
              {
                "value": "h3",
                "label": "H3"
              },
              {
                "value": "h4",
                "label": "H4"
              },
              {
                "value": "span",
                "label": "span"
              }
            ],
            "default": "h3"
          }
        ]
      },
      {
        "type": "price",
        "name": "t:sections.main-product.blocks.price.name",
        "limit": 1
      },
      {
        "type": "tax_info",
        "name": "t:sections.local-extra-words.sections.main-product.blocks.tax_info.name",
        "limit": 1
      },
      {
        "type": "sku_barcode",
        "name": "t:sections.main-product.blocks.sku_barcode.name",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "t:sections.main-product.blocks.variant_picker.name",
        "limit": 1,
        "settings": [ 
          {
            "type": "radio",
            "id": "variants_style",
            "label": "t:raw-extra-words.sections.product_grid.blocks.quick_buy.settings.style.label",
            "options": [
              {
                "value": "radio",
                "label": "t:sections.split-extra-words.sections.main-product.settings.variants.options__1"
              },
              {
                "value": "select",
                "label": "t:sections.split-extra-words.sections.main-product.settings.variants.options__2"
              }
            ],
            "default": "radio"
          },
          { 
            "type": "select",
            "id": "unavailable_variants",
            "label": "t:raw-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.label",
            "options": [
              {
                "value": "disable",
                "label": "t:raw-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.option_2"
              },
              {
                "value": "show",
                "label": "t:raw-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.option_3"
              }
            ],
            "default": "disable"
          },
          {
            "type": "header",
            "content": "t:raw-extra-words.sections.main-product.blocks.size_guide.header"
          },
          {
            "id": "size_guide_set",
            "type": "text",
            "label": "t:raw-extra-words.sections.main-product.blocks.size_guide.name",
            "info": "t:raw-extra-words.sections.main-product.blocks.size_guide.info",
            "default": "size,format,gre,talla,taille,dimension,mrime,dimensione,tamanho,"
          },
          {
            "id": "size_guide_button",
            "type": "text",
            "label": "t:raw-extra-words.sections.main-product.blocks.size_guide.label",
            "default": "SIZE GUIDE"
          },
          {
            "id": "size_guide_page",
            "type": "page",
            "label": "t:sections.refactor_words.product-page.size_guide.page"
          },
          {
            "type": "select",
            "id": "size_guide_open",
            "label": "t:sections.refactor_words.product-page.size_guide.options.label",
            "options": [
              {
                "value": "popup",
                "label": "t:sections.refactor_words.product-page.size_guide.options.option_1"
              },
              {
                "value": "self",
                "label": "t:sections.refactor_words.product-page.size_guide.options.option_2"
              },
              {
                "value": "blank",
                "label": "t:sections.refactor_words.product-page.size_guide.options.option_3"
              }
            ],
            "default": "popup"
          }
        ]
      },
      {
        "type": "buy_buttons",
        "name": "t:sections.main-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity_selector.label",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_preorder",
            "default": false,
            "label": "t:raw-extra-words.sections.main-product.blocks.add_to_cart.preorder"
          },
          {
            "type": "checkbox",
            "id": "show_inventory",
            "label": "t:raw-extra-words.sections.main-product.blocks.add_to_cart.inventory",
            "info": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.info",
            "default": true
          }, 
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_gift_card_recipient",
            "default": false,
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
          },
          {
            "type": "checkbox",
            "id": "show_price",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.buy_buttons.settings.show_price",
            "default": true
          },
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:raw-extra-words.sections.main-product.blocks.add_to_cart.design",
            "default": "scheme_1"
          }
        ]
      },
      {
        "type": "description",
        "name": "t:sections.main-product.blocks.description.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "text_font",
            "label": "t:raw-extra-words.new_schema.text_font",
            "options": [
              {
                "value": "text-font--body",
                "label": "t:sections.split-extra-words.settings_schema.typography.headings.body"
              },
              {
                "value": "text-font--headings",
                "label": "t:sections.split-extra-words.settings_schema.typography.headings.headings"
              }
            ],
            "default": "text-font--body"
          },
          {
            "type": "select",
            "id": "text_size",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.label",
            "options": [
              {
                "value": "text-size--18",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__1"
              },
              {
                "value": "text-size--24",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__2"
              },
              {
                "value": "text-size--30",
                "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__3"
              },
              {
                "value": "text-size--40",
                "label": "t:raw-extra-words.settings_schema.options.extra_large"
              }
            ],
            "default": "text-size--24"
          },
          {
            "type": "select",
            "id": "text_line_height",
            "label": "t:sections.split-extra-words.settings_schema.typography.settings.line_height",
            "options": [
              {
                "value": "text-line-height--default",
                "label": "t:raw-extra-words.settings_schema.options.default"
              },
              {
                "value": "text-line-height--custom-small",
                "label": "t:raw-extra-words.settings_schema.options.small"
              },
              {
                "value": "text-line-height--custom-medium",
                "label": "t:raw-extra-words.settings_schema.options.medium"
              },
              {
                "value": "text-line-height--custom-large",
                "label": "t:raw-extra-words.settings_schema.options.large"
              }
            ],
            "default": "text-line-height--default"
          },
          {
            "type": "select",
            "id": "product_description_truncated",
            "label": "t:sections.main-product.blocks.description.settings.product_description_truncated.label",
            "options": [
              {
                "value": "full",
                "label": "t:sections.main-product.blocks.description.settings.product_description_truncated.options__1.label"
              },
              {
                "value": "3",
                "label": "t:sections.main-product.blocks.description.settings.product_description_truncated.options__2.label",
                "group": "t:sections.main-product.blocks.description.settings.product_description_truncated.info"
              },
              {
                "value": "7",
                "label": "t:sections.main-product.blocks.description.settings.product_description_truncated.options__3.label",
                "group": "t:sections.main-product.blocks.description.settings.product_description_truncated.info"
              },
              {
                "value": "12",
                "label": "t:sections.main-product.blocks.description.settings.product_description_truncated.options__4.label",
                "group": "t:sections.main-product.blocks.description.settings.product_description_truncated.info"
              }
            ],
            "default": "full"
          }
        ]
      },
      {
        "type": "rating",
        "name": "t:settings_schema.product-grid.settings.header__1.content",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:settings_schema.product-grid.settings.header__1.info"
          }
        ]
      },
      {
        "type": "pickup_availability",
        "name": "t:sections.local-extra-words.sections.main-product.blocks.pickup_availability.name",
        "limit": 1
      },
      {
        "type": "product_badges",
        "name": "t:sections.refactor_words.product-card.badges.name",
        "limit": 1
      },
      {
        "type": "icons",
        "name": "t:raw-extra-words.sections.main-product.blocks.tags.name",
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.local-extra-words.sections.text-columns-with-icons.blocks.select_icon.info"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_1"
          },
          {
            "type": "image_picker",
            "id": "icon_1_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_1_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label",
            "default": "Key features"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_2"
          },
          {
            "type": "image_picker",
            "id": "icon_2_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_2_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label",
            "default": "Main benefits"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_3"
          },
          {
            "type": "image_picker",
            "id": "icon_3_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_3_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_4"
          },
          {
            "type": "image_picker",
            "id": "icon_4_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_4_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_5"
          },
          {
            "type": "image_picker",
            "id": "icon_5_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_5_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label"
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.headers.icon_6"
          },
          {
            "type": "image_picker",
            "id": "icon_6_image",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.icon_info"
          },
          {
            "type": "text",
            "id": "icon_6_label",
            "label": "t:sections.local-extra-words.sections.main-product.blocks.icons.settings.label"
          },
          {
            "type": "header",
            "content": "t:raw-extra-words.new_schema.design"
          },
          {
            "type": "color",
            "id": "icon_background",
            "label": "t:sections.local-extra-words.settings_schema.product-card.badges.custom_badges.color",
            "default": "#000000"
          },	
          {
            "type": "color",
            "id": "icon_text",
            "label": "t:sections.refactor_words.product-card.badges.custom_badges.text_color",
            "default": "#ffffff"
          },
          {
            "type": "select",
            "id": "icon_style",
            "label": "t:raw-extra-words.settings_schema.layout_labels.style",
            "options": [
              {
                "value": "rows",
                "label": "t:raw-extra-words.new_schema.columns"
              },
              {
                "value": "columns",
                "label": "t:raw-extra-words.new_schema.rows"
              }
            ],
            "default": "rows"
          }
        ]
      },
      {
        "type": "image",
        "name": "t:sections.local-extra-words.sections.image-section.name",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "t:sections.gallery.blocks.image.settings.image.label"
          },
          {
            "id": "mobile_image",
            "type": "image_picker",
            "label": "t:sections.image.mobile_image"
          },
          {
            "type": "checkbox",
            "id": "remove_border_radius",
            "label": "t:raw-extra-words.settings_schema.borders.remove.radius",
            "default": false
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.local-extra-words.sections.announcement-bar.blocks.content.settings.link"
          },
          {
            "type": "checkbox",
            "id": "open_in_new_window",
            "label": "t:sections.local-extra-words.sections.announcement-bar.blocks.content.settings.target",
            "default": false
          }
        ]
      },
      {
        "type": "complementary",
        "name": "t:sections.complementary_products.name",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.complementary_products.settings.paragraph.content"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "t:sections.local-extra-words.sections.headings.title",
            "default": "Complementary products"
          }
        ]
      },
      {
        "type": "product_link",
        "name": "t:sections.featured-product.blocks.product_link.name",
        "limit": 1
      },
      {
        "type": "custom_liquid",
        "name": "t:sections.refactor_words.custom_code.name",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "t:sections.custom-liquid.settings.custom_liquid.label"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.layout_labels.section_heading.label"
      },
      {
        "type": "textarea",
        "id": "heading",
        "label": "t:sections.local-extra-words.sections.headings.heading",
        "default": "Featured product"
      },
      {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h2"
      },
      {
        "type": "checkbox",
        "id": "disable_section_title_border",
        "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_title_border",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.local-extra-words.sections.faq.headings.content"
      },
      {
        "type": "product",
        "id": "product",
        "label": "t:sections.featured-product.settings.product.label"
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.sections.main-product.settings.gallery.name"
      },
      {
        "type": "select",
        "id": "gallery_layout",
        "label": "t:raw-extra-words.sections.main-product-page.settings.gallery.layout",
        "options": [
          {
            "value": "one-col slider",
            "label": "t:sections.local-extra-words.sections.columns.option__0",
            "group": "t:raw-extra-words.sections.main-product-page.settings.gallery.style_slider"
          },
          {
            "value": "one-col scroll",
            "label": "t:sections.local-extra-words.sections.columns.option__0",
            "group": "t:raw-extra-words.sections.main-product-page.settings.gallery.style_scroll"
          },
          {
            "value": "two-cols scroll",
            "label": "t:sections.local-extra-words.sections.columns.option__1",
            "group": "t:raw-extra-words.sections.main-product-page.settings.gallery.style_scroll"
          }
        ],
        "default": "one-col scroll",
        "info": "t:raw-extra-words.sections.main-product-page.settings.gallery.layout_info"
      },
      {
        "type": "select",
        "id": "gallery_desktop_width",
        "label": "t:raw-extra-words.sections.main-product-page.settings.gallery.desktop_width",
        "options": [ 
          {
            "value": "one-half",
            "label": "t:raw-extra-words.settings_schema.labels.options.option_8"
          },
          {
            "value": "two-thirds",
            "label": "t:raw-extra-words.settings_schema.labels.options.option_9"
          }
        ],
        "default": "one-half"
      },
			{
				"type": "select",
				"id": "gallery_aspect_ratio",
				"label": "t:raw-extra-words.sections.main-product-page.settings.gallery.aspect_ratio",
				"options": [
          {
            "value": "1.5",
            "label": "t:raw-extra-words.settings_schema.aspect_ratio.standard"
          },
					{
						"value": "1.33333",
						"label": "t:sections.gallery.settings.aspect_ratio.options__1.label"
					},
					{
						"value": "1",
						"label": "t:sections.gallery.settings.aspect_ratio.options__2.label"
					},
					{
						"value": "0.83333",
						"label": "t:sections.gallery.settings.aspect_ratio.options__3.label"
					},
					{
						"value": "0.666667",
						"label": "t:sections.gallery.settings.aspect_ratio.options__4.label"
					}
				],
				"default": "1"
			},
      {
        "type": "select",
        "id": "media_shape",
        "label": "t:raw-extra-words.settings_schema.labels.media_shape",
        "options": [
          {
            "value": "none",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_0"
          },
          {
            "value": "9999px 9999px var(--brg) var(--brg)",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_1"
          },
          {
            "value": "var(--brg) 9999px 9999px var(--brg)",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_2"
          },
          {
            "value": "var(--brg) var(--brg) 9999px 9999px",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_3"
          },
          {
            "value": "9999px var(--brg) var(--brg) 9999px",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_4"
          },
          {
            "value": "9999px 9999px 9999px 9999px",
            "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_5"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "add_gallery_item_border",
        "label": "t:raw-extra-words.sections.main-product.settings.gallery.add_borders",
        "info": "t:raw-extra-words.sections.main-product.settings.gallery.borders_info",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "remove_border_radius",
        "label": "t:raw-extra-words.settings_schema.borders.remove.radius",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "remove_padding",
        "label": "t:raw-extra-words.settings_schema.borders.remove.padding_and_border",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_thumbnails",
        "label": "t:raw-extra-words.sections.main-product-page.settings.gallery.show_thumbnails",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "add_parallax",
        "label": "t:raw-extra-words.sections.main-product.settings.gallery.parallax",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "t:sections.main-product.settings.enable_zoom.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "t:sections.main-product.settings.enable_video_looping.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.sections.main-product.settings.content.name"
      },
      {
        "type": "checkbox",
        "id": "remove_border_vertical",
        "label": "t:raw-extra-words.sections.main-product.settings.content.hide_gallery_border",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "remove_border_blocks",
        "label": "t:raw-extra-words.sections.main-product.settings.content.hide_inner_borders",
        "default": false
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.sections.main-product-page.settings.functionality.header"
      },
      {
        "type": "checkbox",
        "id": "default_to_first_variant",
        "label": "t:raw-extra-words.sections.product_grid.blocks.quick_buy.settings.variant_default.label",
        "info": "t:raw-extra-words.sections.product_grid.blocks.quick_buy.settings.variant_default.info",
        "default": true
      },
      {
        "type": "header",
        "content": "t:raw-extra-words.settings_schema.colors.header_section"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:color-schemes.name_singular",
        "default": "scheme_1"
      },
      {
        "type": "checkbox",
        "id": "disable_section_bottom_border",
        "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_bottom_border",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-product.name",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "price"
          },
          {
            "type": "variant_picker"
          },
          {
            "type": "buy_buttons"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "custom.drawers", "custom.overlay"],
      "templates": ["password"]
    }
  }
{% endschema %}