{%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}

{%- if pick_up_availabilities.size > 0 -%}
  <pickup-availability-preview class="pickup-availability-preview store-availability-container">

    <div class="store-availability-information">

      {%- assign closest_location = pick_up_availabilities.first -%}
      <span class="alert alert--icon">
        <span class="alert__icon">
          {%- liquid
            if closest_location.available 
              render 'theme-symbols', icon: 'alert-success'
            else 
              render 'theme-symbols', icon: 'alert-error'
            endif
          -%}
        </span>
        <span>{{ 'store_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name }}</span>
      </span>

      <div class="store-availability-information-container">
        {%- if closest_location.available -%}
          <p class="store-availability-information__stock text-size--16">
            {{ closest_location.pick_up_time }}
          </p>
          <p class="store-availability-information__stores text-size--16">
            <button class="button button--small button--outline--hover-accent store-availability-information__link js-modal-open-store-availability-modal" data-store-availability-modal-open aria-haspopup="dialog">
              <span class="button__text">
                {%- liquid 
                  if pick_up_availabilities.size == 1
                    echo 'store_availability.view_store_info' | t
                  else 
                    echo 'store_availability.check_other_stores' | t
                  endif
                -%}
              </span>
            </button>
          </p>
        {%- else -%}
          <p class="store-availability-information__title">
            {{ 'store_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
          </p>
          {%- if pick_up_availabilities.size > 1 -%}
            <p class="store-availability-information__stores text-size--16" data-size="{{ pick_up_availabilities.size }}">
              <button class="button--text store-availability-information__link js-modal-open-store-availability-modal" data-store-availability-modal-open aria-haspopup="dialog">
                {{ 'store_availability.check_other_stores' | t }}
              </button>
            </p>
          {%- endif -%}
        {%- endif -%}

      </div>

    </div>

  </pickup-availability-preview>
  
  <sidebar-drawer id="PickupAvailabilityDrawer" data-direction="right" class="sidebar" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="PickupAvailabilityHeading" style="display:none">

    <div class="sidebar__container">

      <div class="sidebar__content">
      
        <div class="sidebar__header">
          <span class="sidebar__title text-size--18 text-weight--bold text-transform--uppercase">
            <span
              id="StoreAvailabilitiesModalProductTitle"
              data-store-availability-modal-product-title
            >
              {{ product_variant.product.title | escape }}
              {%- unless product_variant.product.has_only_default_variant -%}
                <span class="store-availabilities-modal__variant-title text-size--14">
                  {%- liquid
                    for product_option in product_variant.product.options_with_values
                      for value in product_option.values
                        if product_option.selected_value == value
                          echo '<span>'
                            echo value | escape
                          echo '</span>'
                        endif
                      endfor
                    endfor
                  -%}
                  </span>
              {%- endunless -%}
            </span>
          </span>
          <button class="sidebar__close" data-js-close>
            <span class="visually-hidden">{{ 'general.accessibility_labels.close_sidebar' | t }}</span>
            <span aria-hidden="true" aria-role="img">{%- render 'theme-symbols', icon: 'close-small' -%}</span>
          </button>
        </div>

        <div class="sidebar__body store-availability-container">
          <ul class="store-availabilities-list" role="list">
            {%- for availability in pick_up_availabilities -%}
              <li class="store-availability-list__item">

                <div class="store-availability-list-header">
                  <span class="store-availability-list-header__location text-weight--bold">{{ availability.location.name }}</span>
                </div>

                <div class="store-availability-information">

                  <span class="alert alert--icon" style="border:none;">
                    <span class="alert__icon">
                      {%- liquid
                        if availability.available 
                          render 'theme-symbols', icon: 'alert-success'
                        else 
                          render 'theme-symbols', icon: 'alert-error'
                        endif
                      -%}
                    </span>
                    <span> 
                      {%- if availability.available -%}
                        {{ 'store_availability.pick_up_available' | t }}, {{ availability.pick_up_time | downcase }}
                      {%- else -%}
                        {{ 'store_availability.pick_up_currently_unavailable' | t }}
                      {%- endif -%}
                    </span>
                  </span>

                  <div class="store-availability-information-container" style="margin-top:0">

                    {%- assign address = availability.location.address -%}
                    <address class="store-availability-list__address text-size--16">
                      {{ address | format_address }}
                    </address>
                    {%- if address.phone.size > 0 -%}
                      <p class="store-availability-list__phone text-size--16">
                        <a href="tel:{{ address.phone }}"><span class="text-animation--underline text-animation--underline-small"><span>{{ address.phone }}</span></span></a><br>
                      </p>
                    {%- endif -%}

                  </div>

                </div>

              </li>
            {%- endfor -%}
          </ul>
        </div>

      </div>
          
    </div>

  </sidebar-drawer>

{%- endif -%}