{{ 'section-header.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign logo_height = section.settings.logo_height
  assign logo_src = section.settings.logo_src
-%}

{% style %}
  body {
    --header-logo: {{ logo_height }}px;
  }
{% endstyle %}

<main-header id="site-header" 
  class="site-header site-header--border site-header--grid-one-row site-header--alignment-left site-header-icons--regular" 
  style="--submenu-height: 0px" data-js-inert
>

  <div class="site-header__grid site-header__grid--one-row site-header__grid--logo-left"
    style=""
  >

    <style type="text/css">
      @media screen and (min-width: 1024px) {
        .site-header__grid {
          padding: 0 {{ section.settings.header_custom_padding }}px;
        }
      }
      @media screen and (max-width: 1023px) {
        .site-header__grid--logo-left {
          grid-template-columns: auto;
          grid-template-areas: "logo icons";
        }
      }
      .site-header__grid .area__icon .button__icon,
      .site-header__grid .area__icon .button__icon svg {
        width: 32px;
        height: 32px;
      }
    </style>

    <div id="logo" class="logo area--logo">

      {%- if logo_src != blank -%}
        <a class="logo-img" title="{{ shop.name | escape }}" href="{{ routes.root_url }}" style="height:var(--header-logo">
          <img 
            src="{{ logo_src | image_url }}" alt="{{ logo_src.alt | escape }}"
            width="{{ logo_src.width }}" height="{{ logo_src.height }}"
          />
        </a>
      {%- else -%}
        <a class="logo-txt logo-txt--mobile-desk" title="{{ shop.name | escape }}" href="{{ routes.root_url }}">
          {{ shop.name | escape }}
        </a>
      {%- endif -%}
      
    </div>

    <div class="area--icons">

      <a href="#0" class="area__icon modal-login-cta" aria-expanded="false" aria-controls="modal-login" onclick="document.getElementById('modal-login').show()" style="margin-top:0">
        <span class="button__icon" role="img" aria-hidden="true">
          <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g style="fill:none;stroke:#202020;stroke-miterlimit:10;stroke-width:2;stroke-linejoin:round;stroke-linecap:round"><path d="m19 26.8v-11.8a13 13 0 0 1 13-13 13 13 0 0 1 13 13"/><path d="m23 24.1v-9.1a9 9 0 0 1 18 0 2 2 0 0 0 4 0"/><circle cx="32" cy="42" r="20"/><path d="m34 45a2 2 0 0 1 -2 2 2 2 0 0 1 -2-2v-6a2 2 0 0 1 2-2 2 2 0 0 1 2 2z"/></g></svg>
        </span>
        <span class="visually-hidden-on-portable">{{ 'general.password_page.login_form_heading' | t }}</span>
      </a>

    </div>

  </div>

</main-header>

{%- render 'color-scheme', color_scheme: section.settings.color_scheme, hide_section_bottom_border: section.settings.disable_section_bottom_border -%}

<modal-box id="modal-login" class="modal" 
  data-options='{
    "enabled": false,
    "showOnce": false,
    "appendToBody": true
  }'
  style="display:none"
  tabindex="-1" role="dialog" aria-modal="true" 
>
  <div class="container--small">
    <div class="modal-content">

      <div class="modal-heading">
        <div class="modal-heading__text remove-empty-space">
          <span class="text-size--30 text-weight--bold">{{ 'general.password_page.login_form_heading' | t }}</span>
        </div>
        <div class="modal-heading__actions">
          <button class="modal-close" data-js-close>{%- render 'theme-symbols', icon: 'close' -%}</button>
        </div>
      </div>

      {%- form 'storefront_password' -%}
        <div class="password-input-group">

          {% render 'form-errors', form: form %}

          <div class="form-row">
            <label for="password" class="hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <input type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
          </div>
          
          <div class="form-row">
            <button class="button button--fullwidth button--solid--hover-accent" type="submit" name="commit">
              <span class="button__text">{{ 'general.password_page.login_form_submit' | t }}</span>
            </button>
          </div>
        </div>
      {%- endform -%}

    </div>
  </div>
  <span class="modal-background" data-js-close></span>
</modal-box>

<script type="text/javascript">
  window.onload = function(){
    const modal = document.getElementById('modal-login');
    const errors = document.querySelector('.alert');
    if ( errors != null ) {
      setTimeout(function(){
        modal.show();
      }, 200);
    }	
  }
</script>

{% schema %}
{
  "name": "t:sections.split-extra-words.sections.header.name",
  "class": "element--has-section-borders-alternate mount-header mount-filters mount-css-slider",
  "tag": "header",
  "settings": [
    {
      "type": "header",
      "content": "t:raw-extra-words.sections.header.settings.logo.name"
    },
    {
      "type": "image_picker",
      "id": "logo_src",
      "label": "t:raw-extra-words.sections.header.settings.logo.desktop_image"
    },
    {
      "type": "range",
      "id": "logo_height",
      "label": "t:raw-extra-words.sections.header.settings.logo.desktop_image_height",
      "unit": "px",
      "min": 20,
      "max": 50,
      "step": 1,
      "default": 30
    },
    {
      "type": "header",
      "content": "t:raw-extra-words.settings_schema.colors.header_section"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color-schemes.name_singular",
      "default": "scheme_1"
    },
    {
      "type": "checkbox",
      "id": "disable_section_bottom_border",
      "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_bottom_border",
      "default": false
    },
    {
      "type": "range",
      "id": "header_custom_padding",
      "label": "t:raw-extra-words.sections.header.settings.custom_padding",
      "step": 1,
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    }
  ],
  "enabled_on": {
    "templates": ["password"]
  }
}
{% endschema %}