{%- if section.blocks.size > 0 -%}
  
  <div>

    <style type="text/css">
      #element-{{ section.id }} {
        --animation-speed: {{ section.settings.speed }}s;
      }
    </style>

    <script src="{{ 'component-scrolling-text.js' | asset_url }}" defer></script>

    {%- liquid
      if section.settings.text_size contains '--200'
        assign button_class = 'button--huge'
      elsif section.settings.text_size contains '--100'
        assign button_class = 'button--large'
      elsif section.settings.text_size contains '--40'
        assign button_class = 'button--medium'
      else
        assign button_class = 'button--regular'
      endif
    -%}

    <scrolling-text id="element-{{ section.id }}" class="card {% if section.settings.remove_padding %} card--no-padding {% endif %} scrolling-text {{ section.settings.text_size }} {{ section.settings.text_font }}" data-scrolling-speed="{{ section.settings.speed }}" data-scrolling-direction="{{ section.settings.scroll_direction }}" data-pause-on-hover="{{ section.settings.pause_on_hover }}" dir="{{ section.settings.scroll_direction }}">
      <div>
        {%- for block in section.blocks -%}
          {%- case block.type -%}

            {%- when 'text' -%}
              <span class="element--horizontal-space--{{ section.settings.horizontal_space }}" {{ block.shopify_attributes }}>
                {{ block.settings.marquee_text }}
              </span>

            {%- when 'button' -%}
              <span class="element--horizontal-space--{{ section.settings.horizontal_space }}" {{ block.shopify_attributes }}>
                <div class="align-content align-content--vertical-middle">
                  {%- assign button_class = button_class | append: ' ' | append: block.settings.button_hover -%}
                  {%- render 'button', label: block.settings.button_label, link: block.settings.link, style: block.settings.button_style, class: button_class, target: block.settings.target -%}
                </div>
              </span>

          {%- endcase -%}
        {%- endfor -%}
      </div>
    </scrolling-text>

  </div>

  {%- render 'color-scheme', color_scheme: section.settings.color_scheme, hide_section_bottom_border: section.settings.disable_section_bottom_border -%}

{%- endif -%}

{% schema %}
{
  "name": "t:sections.local-extra-words.sections.marquee.name",
  "class": "element--has-section-borders mount-scrolling-text",
  "settings": [
    {
      "id": "scroll_direction",
      "type": "select",
      "options": [
        {
          "value": "rtl",
          "label": "t:sections.rich-text.settings.text_alignment.options__3.label"
        },
        {
          "value": "ltr",
          "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
        }
      ],
      "default": "ltr",
      "label": "t:sections.local-extra-words.sections.marquee.settings.scroll_direction"
    },
    {
      "type": "range",
      "id": "speed",
      "label": "t:sections.local-extra-words.sections.marquee.settings.scroll_speed",
      "min": 20,
      "max": 300,
      "step": 10,
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "t:sections.local-extra-words.sections.marquee.settings.pause_on_mouseover",
      "default": true
    },
    {
      "type": "header",
      "content": "t:settings_schema.typography.name"
    },
    {
      "type": "select",
      "id": "text_font",
      "label": "t:raw-extra-words.new_schema.text_font",
      "options": [
        {
          "value": "text-font--body",
          "label": "t:sections.split-extra-words.settings_schema.typography.headings.body"
        },
        {
          "value": "text-font--headings",
          "label": "t:sections.split-extra-words.settings_schema.typography.headings.headings"
        }
      ],
      "default": "text-font--body"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:sections.footer.blocks.text.settings.text_size.label",
      "options": [
        {
          "value": "text-size--40",
          "label": "t:raw-extra-words.settings_schema.options.small"
        },
        {
          "value": "text-size--60",
          "label": "t:raw-extra-words.settings_schema.options.regular"
        },
        {
          "value": "text-size--80",
          "label": "t:raw-extra-words.settings_schema.options.large"
        },
        {
          "value": "text-size--100",
          "label": "t:raw-extra-words.settings_schema.options.extra_large"
        },
        {
          "value": "text-size--200",
          "label": "t:raw-extra-words.settings_schema.options.huge"
        }
      ],
      "default": "text-size--60"
    },
    {
      "type": "select",
      "id": "horizontal_space",
      "label": "t:sections.local-extra-words.settings_schema.layout.grid.horizontal_space",
      "options": [
        {
          "value": "regular-x-2",
          "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__5"
        },
        {
          "value": "large-x-2",
          "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__2"
        },
        {
          "value": "xlarge-x-2",
          "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__3"
        }
      ],
      "default": "regular-x-2"
    },
    {
      "type": "header",
      "content": "t:raw-extra-words.settings_schema.colors.header_section"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color-schemes.name_singular",
      "default": "scheme_1"
    },
    {
      "type": "checkbox",
      "id": "disable_section_bottom_border",
      "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_bottom_border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_padding",
      "label": "t:raw-extra-words.settings_schema.borders.remove.padding",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.words_210.text_columns.block.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "marquee_text",
          "label": "t:sections.footer.blocks.text.settings.content.label",
          "default": "Introduce product <strong>promotions</strong>. Write about your brand. Flash deals!"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.rich-text.blocks.button.settings.button_label.label",
          "default": "Call to action"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
        },
        {
          "id": "button_style",
          "label": "t:sections.local-extra-words.sections.buttons.style.label",
          "type": "select",
          "options": [
            {
              "value": "outline",
              "label": "t:sections.local-extra-words.sections.buttons.style.option__1"
            },
            {
              "value": "solid",
              "label": "t:sections.local-extra-words.sections.buttons.style.option__2"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "button_hover",
          "label": "t:raw-extra-words.new_schema.button_hover.label",
          "options": [
            {
              "value": "button--hover-invert",
              "label": "t:1-2-0.invert"
            },
            {
              "value": "",
              "label": "t:raw-extra-words.new_schema.button_hover.option_2"
            }
          ],
          "default": ""
        },
        {
          "type": "checkbox",
          "id": "target",
          "label": "t:sections.local-extra-words.sections.announcement-bar.blocks.content.settings.target",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.local-extra-words.sections.marquee.name",
      "blocks": [
        { "type": "text" }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "custom.drawers", "custom.overlay"]
  }
}
{% endschema %}